<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>All recipes</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/allRecipes.css" th:href="@{css/allRecipes.css}">
</head>
<header>
    <div class="header">
        <img th:src="@{images/logo.svg}" src="../../static/images/logo.svg" alt = "logo" class = "logo">

        <form class="search-form">
            <img th:src="@{images/magnifier.svg}" src="../../static/images/magnifier.svg" alt = "magnifier" class = "magnifier">
            <input name="startWith" placeholder="Search" type="search">
        </form>
        <a class="button-style" href="allRecipes.html" th:href="@{/allRecipes}">All recipes</a>
        <a class="button-style" href="recipe.html" th:href="@{/recipe/{id1}(id1=${randomRecipeId})}">Random</a>

        <div class="user-container heart-container" th:if ="${isLogin} == false">
            <div class="heart"
                 onmouseover="changeImage('heart-img1', '../../images/heart-hover.svg')"
                 onmouseout="restoreImage('heart-img1', '../../images/heart.svg')">
                <img id="heart-img1" th:src="@{images/heart.svg}" src="../../images/heart.svg" alt="heart" class="heart">
            </div>
        </div>
        <a th:href="@{/user}" th:if="${isLogin} == true">
            <div class="user-container heart-login-container">
                <div class="heart"
                     onmouseover="changeImage('heart-img2', '../../images/heart-login-hover.svg')"
                     onmouseout="restoreImage('heart-img2', '../../images/heart-login.svg')">
                    <img id="heart-img2" th:src="@{images/heart-login.svg}" src="../../images/heart-login.svg" alt="heart" class="heart">
                </div>
            </div>
        </a>

        <button class="user-container" id="user-btn1"  th:if ="${isLogin} == false">
            <div class="user"
                 onmouseover="changeImage('user-img1', '../../images/user-hover.svg')"
                 onmouseout="restoreImage('user-img1', '../../images/user.svg')">

                <img id="user-img1" th:src="@{images/user.svg}" src="../../images/user.svg" alt="user" class="user">
            </div>
        </button>
        <a th:href="@{/user}" th:if="${isLogin} == true">
            <button class="user-container"  id="user-btn2" >
                <div class="user"
                     onmouseover="changeImage('user-img2', '../../images/user-login-hover.svg')"
                     onmouseout="restoreImage('user-img2', '../../images/user-login.svg')">

                    <img id="user-img2" th:src="@{images/user-login.svg}" src="../../images/user-login.svg" alt="user" class="user">
                </div>
            </button>
        </a>
        <div id="overlay-user" onclick="hideOverlay()"></div>
        <div class="login-window" id="popup-login-window">
            <h1 class="login-heading">Log in</h1>
            <form method="post"  id="loginForm"  th:action="@{api/auth/login}" onsubmit="return submitForm()">
                <div class="login-form email">
                    <input name="username" placeholder="Enter email" type="text" required>
                </div>
                <div class="login-form password">
                    <input name="password" placeholder="Enter password" type="password" required>
                </div>
                <button id="confirm-button">Confirm</button>
            </form>
        </div>

        <a th:href="@{/}" href="main.html">
            <img th:src="@{images/home.svg}" src="../../images/home.svg" alt="home" class="home">
        </a>

    </div>
</header>
<body>

<main>
    <h1 class="boardTwoTitle">Filters</h1>
    <img alt="board" class="board" th:src="@{images/CuttingBoard.svg}" src="../../static/images/CuttingBoard.svg" >
    <button class="apply-button"><span>Apply</span></button>
    <div class="ulBoard">
        <div class="h1"></div>
        <ul>
            <li><img alt="categoriesI" class="categoriesI" th:src="@{images/Categories.svg}"  src="../../static/images/Categories.svg" >
                Categories</li>
            <hr>
            <li><img alt="timeI" class="timeI" th:src="@{images/Time.svg}" src="../../static/images/Time.svg" >
                Time</li>
            <hr>
            <li><img alt="alphabetI" class="alphabetI" th:src="@{images/Alphabet.svg}" src="../../static/images/Alphabet.svg" >
                Alphabet</li>
            <hr>
            <li><img alt="ratingI" class="ratingI" th:src="@{images/Rating.svg}" src="../../static/images/Rating.svg" >
                Rating</li>
            <hr>
            <li><img alt="ingredientsI" class="ingredientsI" th:src="@{images/ingredients.svg}" src="../../static/images/ingredients.svg" >
                Ingredients</li>
            <hr>
            <li><img alt="devicesI" class="devicesI" th:src="@{images/Mixer.svg}" src="../../static/images/Mixer.svg" >
                Devices</li>
            <hr>
            <li><img alt="ingredientsI" class="ingredientsI" th:src="@{images/ingredients.svg}" src="../../static/images/ingredients.svg" >
                Ingredients</li>
            <hr>
            <li><img alt="devicesI" class="devicesI" th:src="@{images/Mixer.svg}" src="../../static/images/Mixer.svg" >
                Devices</li>
        </ul>
    </div>
    <img alt="coffeeBean" class="bean" th:src="@{images/coffeeBean.svg}" src="../../static/images/coffeeBean.svg" >
    <div class="mainField">
        <div class="field" id="recipeContainer"  th:if="${recipes.size()!=0}">
            <div class="ol">
                <div th:each="recipe, i : ${recipes}"
                     th:class="${i.index == 0} ? 'smallerField smallerField' : 'smallerField smallerField-down' + (${i.index})">
                    <div class="comment-user-circle">
                        <img th:if="${recipe}"
                             th:src="@{'../images/' + ${recipe.getCategory().getTitle()} + '.svg'}"
                             th:alt="${recipe.getCategory().getTitle()}"
                             th:class="${recipe.getCategory().getTitle().replace(' ', '-')}">
                    </div>
                    <table>
                        <tr style="position: relative; left: 1.5625vw; bottom: 5vh;">
                            <th th:text="${recipe.getCategory().getTitle()}"></th>
                        </tr>
                        <tr style="position: relative; left: 1.5625vw; bottom: 4vh;">
                            <td>
                                <a th:href="@{/recipe/{id}(id=${recipe.getId()})}" th:text="${recipe.getTitle()}"></a>
                            </td>
                            <td th:text="${recipe.getCookingTime()} + ' minutes'"></td>
                            <td th:text="${recipe.getAverageMark()}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="field" id="recipeContainer1" th:if="${recipes.size()==0}">
            NO SUCH RECIPES!
        </div>
    </div>

</main>

</body>
<footer class="footer">
    <button class="support-button" id="support-btn"><span>Support</span></button>

    <div id="overlay" onclick="hideOverlay()"></div>

    <div class="window" id="popup-window">
        <div class="inner-window">
            <textarea name="query" placeholder="Enter feedback" required></textarea>
        </div>

        <button id="send-button">Send</button>
    </div>

    <div class="copyright">© Company policy and privacy rules</div>

    <div class="circle-container telegram-container">
        <div
                class="telegram"
                onmouseover="changeImage('telegram-img', '../../images/telegram-hover.svg')"
                onmouseout="restoreImage('telegram-img', '../../images/telegram.svg')"
        >
            <img id="telegram-img" th:src="@{images/telegram.svg}"  src="../../images/telegram.svg" alt="telegram" class="telegram">
        </div>
    </div>

    <div class="circle-container instagram-container">
        <div
                class="instagram"
                onmouseover="changeImage('instagram-img', '../../images/inst-hover.svg')"
                onmouseout="restoreImage('instagram-img', '../../images/inst.svg')"
        >
            <img id="instagram-img" th:src="@{images/inst.svg}" src="../../images/inst.svg" alt="instagram" class="instagram">
        </div>
    </div>
</footer>
<script th:href="@{js/scripts.js}" src="../../js/scripts.js"></script>
<script>
    function submitForm() {
        var form = document.getElementById('loginForm');
        var formData = new FormData(form);
        var data = {};
        formData.forEach(function(value, key){
            data[key] = value;
        });
        var xhr = new XMLHttpRequest();
        xhr.open('POST', form.action, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    window.location.href = '/allRecipes'; // Redirect to success page
                } else {
                    alert('Login failed. Please try again.'); // Show an alert or handle error
                }
            }
        };
        xhr.send(JSON.stringify(data));
        return false; // Prevent the form from submitting in the traditional way
    }
</script>
</html>