<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main page</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css" th:href="@{css/main.css}">

</head>
<body>
<header>
<div class="header">
    <img src="../../static/images/logo1.svg" alt = "logo1" class = "logo1">


    <form class="search-form">
        <img src="../../static/images/magnifier.svg" alt = "magnifier" class = "magnifier">
        <input name="query" placeholder="Search" type="search">
    </form>
    <a class="button-style" href="allRecipes.html" th:href="@{/allRecipes}">All recipes</a>
    <a class="button-style" href="recipe.html" th:href="@{/recipe/1}">Random</a>
    <div class="heart">
        <svg fill="none" height="60" viewBox="0 0 70 60" width="70" xmlns="http://www.w3.org/2000/svg"
        >
            <path d="M50.75 0C44.62 0 38.85 2.61 35 6.86C31.14 2.61 25.37 0 19.25 0C8.39 0 0 7.84 0 17.98C0 30.4 11.89 40.38 29.92 55.74L35 60L40.07 55.74C58.1 40.38 70 30.4 70 17.98C70 7.84 61.6 0 50.75 0ZM37.16 51.44L36.45 52.05L35 53.26L33.54 52.05L32.84 51.44C24.35 44.21 17.03 37.97 12.18 32.38C7.48 26.96 5.38 22.52 5.38 17.98C5.38 14.41 6.8 11.11 9.37 8.71C11.93 6.31 15.44 5 19.25 5C23.64 5 27.99 6.9 30.87 10.08L35 14.63L39.12 10.08C42 6.9 46.35 5 50.75 5C54.55 5 58.06 6.31 60.62 8.71C63.19 11.11 64.61 14.41 64.61 17.98C64.61 22.52 62.51 26.96 57.81 32.38C52.96 37.96 45.64 44.21 37.16 51.44Z"
                  fill="#733506"
                  fill-opacity="1.000000" fill-rule="nonzero" id="Vector"/>
        </svg>
    </div>

    <div class="user">
        <svg fill="none" height="60.000000" viewBox="0 0 60 60" width="60.000000" xmlns="http://www.w3.org/2000/svg"
        >
            <path d="M30 7.06C34.34 7.06 37.87 10.56 37.87 14.87C37.87 19.19 34.34 22.68 30 22.68C25.65 22.68 22.12 19.19 22.12 14.87C22.12 10.56 25.65 7.06 30 7.06ZM30 40.53C41.13 40.53 52.87 45.96 52.87 48.34L52.87 52.43L7.12 52.43L7.12 48.34C7.12 45.96 18.86 40.53 30 40.53ZM30 0C21.71 0 15 6.65 15 14.87C15 23.09 21.71 29.75 30 29.75C38.28 29.75 45 23.09 45 14.87C45 6.65 38.28 0 30 0ZM30 33.47C19.98 33.47 0 38.45 0 48.34L0 55.78C0 57.83 1.68 59.5 3.75 59.5L56.25 59.5C58.31 59.5 60 57.83 60 55.78L60 48.34C60 38.45 40.01 33.47 30 33.47Z"
                  fill="#733506"
                  fill-opacity="1.000000" fill-rule="nonzero" id="Vector"/>
        </svg>
    </div>

    <img th:src="@{images/home.svg}" src="../../static/images/home.svg" alt = "home" class = "home">
</div>
</header>
<main>
<div class="container">
    <div class="menu">
        <img alt="board" class="board" src="../../static/images/CuttingBoard.svg" >

        <div class="ul">
            <h1 class="h1">Categories</h1>
            <ul>
                <li><img alt="substance" class="substance" src="../../static/images/Soup.svg" >
                    First dishes</li>
                <hr>
                <li><img alt="mDIcon" class="mDIcon" src="../../static/images/mainDish.svg" >
                    Main dishes</li>
                <hr>
                <li><img alt="salad" class="saladI" src="../../static/images/Salad.svg" >
                    Salads</li>
                <hr>
                <li><img alt="pastry" class="pastryI" src="../../static/images/PastryI.svg" >
                    Pastry</li>
                <hr>
                <li><img alt="dessertI" class="dessertI" src="../../static/images/Waffles.svg" >
                    Desserts</li>
                <hr>
                <li><img alt="smoothieI" class="smoothieI" src="../../static/images/Smoothie.svg" >
                    Drinks</li>
                <hr>
                <li><img alt="snackI" class="snackI" src="../../static/images/Snack.svg" >
                    Snacks</li>
                <hr>
                <li><img alt="fish" class="fish" src="../../static/images/Fish.svg" >
                    Fish dishes</li>
                <hr>
                <li><img alt="sauce" class="sauceI" src="../../static/images/Sauce%20selection.svg" >
                    Sauces</li>
                <hr>
            </ul>
        </div>
        <img alt="coffeeBean" class="bean" src="../../static/images/coffee%20bean.svg" >
    </div>

    <div class="main-bottom">
        <div class="dessert">
            <img alt="cheesecake" class="cheesecake" src="../../static/images/dessert.jpg" >
            <div class="rectangle rectangle-left-1">
                <img alt="dessertI" class="dessertI" src="../../static/images/Waffles.svg" > Desserts
            </div>
        </div>

        <div class="drink">
            <img alt="fresh" class="fresh" src="../../static/images/drink.jpg" >
            <div class="rectangle rectangle-left-2">
                <img alt="smoothieI" class="smoothieI" src="../../static/images/Smoothie.svg" >Drinks
            </div>
        </div>

        <div class="salad">
            <img alt="seafoodSalad" class="seafoodSalad" src="../../static/images/salad.jpg" >
            <div class="rectangle rectangle-left-3">
                <img alt="salad" class="saladI" src="../../static/images/Salad.svg" > Salads
            </div>
        </div>
    </div>

    <div class="firstD">
        <img alt="firstD1" class="firstD1" src="../../static/images/firstD.jpg">
        <div class="rectangleFD rectangleFD-left">
            <img alt="substance" class="substance" src="../../static/images/Soup.svg" > First dishes
        </div>
    </div>

    <div class="mainD">
        <img alt="mainD1" class="mainD1" src="../../static/images/mainD.jpg">
        <div class="rectangleMD rectangleMD-left">
            <img alt="mDIcon" class="mDIcon" src="../../static/images/mainDish.svg" > Main dishes
        </div>
    </div>

</div>
</main>

<footer class="footer">
    <button class="support-button"><span>Support</span></button>

    <div class="copyright">© Company policy and privacy rules</div>
    <div class="telegram">
        <div class="circle-container circle ">
            <img alt="telegram1" class="telegram1" src="../../static/images/telegram.svg" >
        </div>
    </div>
    <div class="instagram">
        <div class="circle-container circle ">
                <img alt="instagram1" class="instagram1" src="../../static/images/inst.svg" >
        </div>
    </div>
</footer>
</body>
</html>
