<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main page</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css" th:href="@{css/main.css}">

</head>
<body>
<header>
<div class="header">
    <img src="../../static/images/logo1.svg" alt = "logo1" class = "logo1">


    <form class="search-form">
        <img src="../../static/images/magnifier.svg" alt = "magnifier" class = "magnifier">
        <input name="query" placeholder="Search" type="search">
    </form>
    <a class="button-style" href="allRecipes.html" th:href="@{/allRecipes}">All recipes</a>
    <a class="button-style" href="recipe.html" th:href="@{/recipe/1}">Random</a>
    <div class="heart-container">
        <div class="heart">
                onmouseover="changeImage('heart-img', '../../static/images/heart-hover.svg')"
                onmouseout="restoreImage('heart-img', '../../static/images/heart.svg')"
            <img id="heart-img" src="../../static/images/heart.svg" alt="heart" class="heart">
        </div>
    </div>

    <div class="user-container">
        <div class="user">
                onmouseover="changeImage('user-img', '../../static/images/user-hover.svg')"
                onmouseout="restoreImage('user-img', '../../static/images/user.svg')"

            <img id="user-img" src="../../static/images/user.svg" alt="user" class="user">
        </div>
    </div>

    <img th:src="@{images/home.svg}" src="../../static/images/home.svg" alt = "home" class = "home">
</div>

    /**/
</header>
<main>
<div class="container">
    <div class="menu">
        <img alt="board" class="board" src="../../static/images/CuttingBoard.svg" >
        <div class="ul">
            <ul>
                <h1 class="h1">Categories</h1>
                <li><img alt="substance" class="substance" src="../../static/images/Soup.svg" >
                    First dishes</li>
                <hr>
                <li><img alt="mDIcon" class="mDIcon" src="../../static/images/mainDish.svg" >
                    Main dishes</li>
                <hr>
                <li><img alt="salad" class="saladI" src="../../static/images/Salad.svg" >
                    Salads</li>
                <hr>
                <li><img alt="pastry" class="pastryI" src="../../static/images/PastryI.svg" >
                    Pastry</li>
                <hr>
                <li><img alt="dessertI" class="dessertI" src="../../static/images/Waffles.svg" >
                    Desserts</li>
                <hr>
                <li><img alt="smoothieI" class="smoothieI" src="../../static/images/Smoothie.svg" >
                    Drinks</li>
                <hr>
                <li><img alt="snackI" class="snackI" src="../../static/images/Snack.svg" >
                    Snacks</li>
                <hr>
                <li><img alt="fish" class="fish" src="../../static/images/Fish.svg" >
                    Fish dishes</li>
                <hr>
                <li><img alt="sauce" class="sauceI" src="../../static/images/Sauce%20selection.svg" >
                    Sauces</li>
                <hr>
            </ul>
        </div>
        <img alt="coffeeBean" class="bean" src="../../static/images/coffee%20bean.svg" >
    </div>

    <div class="main-bottom">
        <div class="dessert">
            <img alt="cheesecake" class="cheesecake" src="../../static/images/dessert.jpg" >
            <div class="rectangle rectangle-left-1">
                <img alt="dessertI" class="dessertI" src="../../static/images/Waffles.svg" > Desserts
            </div>
        </div>

        <div class="drink">
            <img alt="fresh" class="fresh" src="../../static/images/drink.jpg" >
            <div class="rectangle rectangle-left-2">
                <img alt="smoothieI" class="smoothieI" src="../../static/images/Smoothie.svg" >Drinks
            </div>
        </div>

        <div class="salad">
            <img alt="seafoodSalad" class="seafoodSalad" src="../../static/images/salad.jpg" >
            <div class="rectangle rectangle-left-3">
                <img alt="salad" class="saladI" src="../../static/images/Salad.svg" > Salads
            </div>
        </div>
    </div>

    <div class="firstD">
        <img alt="firstD1" class="firstD1" src="../../static/images/firstD.jpg">
        <div class="rectangleFD rectangleFD-left">
            <img alt="substance" class="substance" src="../../static/images/Soup.svg" > First dishes
        </div>
    </div>

    <div class="mainD">
        <img alt="mainD1" class="mainD1" src="../../static/images/mainD.jpg">
        <div class="rectangleMD rectangleMD-left">
            <img alt="mDIcon" class="mDIcon" src="../../static/images/mainDish.svg" > Main dishes
        </div>
    </div>

</div>
</main>

<footer class="footer">
    <button class="support-button"><span>Support</span></button>

    <div class="copyright">© Company policy and privacy rules</div>
    <div class="telegram">
        <div class="circle-container circle ">
            <img alt="telegram1" class="telegram1" src="../../static/images/telegram.svg" >
        </div>
    </div>
    <div class="instagram">
        <div class="circle-container circle ">
                <img alt="instagram1" class="instagram1" src="../../static/images/inst.svg" >
        </div>
    </div>
</footer>
</body>
</html>
