<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Recipe</title>
</head>
<body>
<h1>Form</h1>
<form action="#" method="post" th:action="@{/api/newRecipe}" th:object="${recipe}">
    <p>Title: <input th:field="${recipe.title}" type="text"/></p>
    <p>Desk: <input th:field="${recipe.description}" type="text"/></p>
    <p>C Time: <input th:field="${recipe.cookingTime}" type="number"/></p>
    <!--    <p><input th:field="${recipe.user}" th:value="${user}" type="text"/></p>-->
    <!--    <p><input th:field="${recipe.category}" type="text"/></p>-->
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>