<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Recipe Creation</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/recipeCreation.css" >
    <link href="../../static/css/headerIfooter.css" rel="stylesheet" th:href="@{../css/headerIfooter.css}"
          type="text/css">
</head>
<header>
    <div class="header">
        <img th:src="@{images/logo1.svg}" src="../../static/images/logo1.svg" alt = "logo1" class = "logo1">


        <form class="search-form">
            <img th:src="@{images/magnifier.svg}" src="../../static/images/magnifier.svg" alt = "magnifier" class = "magnifier">
            <input name="query" placeholder="Search" type="search">
        </form>
        <a class="button-style" href="allRecipes.html" th:href="@{/allRecipes}">All recipes</a>
        <a class="button-style" href="recipe.html" th:href="@{/recipe/1}">Random</a>

        <div class="heart-container">
            <div class="heart"
                 onmouseover="changeImage('heart-img', '../../images/heart-hover.svg')"
                 onmouseout="restoreImage('heart-img', '../../images/heart.svg')">
                <img id="heart-img" th:src="@{images/heart.svg}" src="../../images/heart.svg" alt="heart" class="heart">
            </div>
        </div>

        <div class="user-container">
            <div class="user"
                 onmouseover="changeImage('user-img', '../../images/user-hover.svg')"
                 onmouseout="restoreImage('user-img', '../../images/user.svg')">

                <img id="user-img" th:src="@{images/user.svg}" src="../../images/user.svg" alt="user" class="user">
            </div>
        </div>
        <a th:href="@{/}" href="main.html">
            <img th:src="@{images/home.svg}" src="../../images/home.svg" alt="home" class="home">
        </a>
    </div>
</header>
<body>
    <div class="title">Create a recipe</div>
    <main>
        <form class="text-form-title">
            <div class="recipeTitle">
                <input name="query" placeholder="Recipe title" type="text">
            </div>
        </form>
        <form class="text-form-time">
            <div class="recipeCookingTime">
                <input name="query" placeholder="Cooking time" type="number">
<!-- TODO               min value 1-->
            </div>
        </form>
        <form class="text-form-category">
            <div class="recipeCategory">
                <input name="query" placeholder="Category" type="text">
            </div>
        </form>
        <div class="ingredientsField">
        <form class="text-form-ingredients">
            <div class="recipeIngredients">
                <input name="query" placeholder="Ingredients" type="text">
            </div>
        </form>
        <form class="text-form-ingredients-amount">
            <div class="recipeIngredientsAmount">
                <input name="query" placeholder="Ingredients amount" type="text">
            </div>
        </form>
        </div>
        <form class="text-form-devices">
            <div class="recipeDevices"></div>
                <input name="query" placeholder="Recipe devices" type="text">
            </div>
        </form>
        <form class="text-form-StepByStep">
            <div class="recipeStepByStep">
                <input name="query" placeholder="Step by step" type="text">
            </div>
        </form>

        <div class="saveButton buttonText">Save</div>
        <div class="publishButton buttonText">Publish</div>
        <div class="stick"></div>
    </main>

</body>
<footer class="footer">
    <button class="support-button" id="support-btn"><span>Support</span></button>

    <div id="overlay" onclick="hideOverlay()"></div>

    <div class="window" id="popup-window">  <!-- Вікно, яке з'являється при натисканні -->
        <div class="inner-window">
            <input name="query" placeholder="Enter feedback" type="search">
        </div>

        <button id="send-button">Send</button>
    </div>

    <div class="copyright">© Company policy and privacy rules</div>

    <div class="circle-container telegram-container">
        <div
                class="telegram"
                onmouseover="changeImage('telegram-img', '../../static/images/telegram-hover.svg')"
                onmouseout="restoreImage('telegram-img', '../../static/images/telegram.svg')"
        >
            <img id="telegram-img" th:src="@{images/telegram.svg}"  src="../../static/images/telegram.svg" alt="telegram" class="telegram">
        </div>
    </div>

    <div class="circle-container instagram-container">
        <div
                class="instagram"
                onmouseover="changeImage('instagram-img', '../../static/images/inst-hover.svg')"
                onmouseout="restoreImage('instagram-img', '../../static/images/inst.svg')"
        >
            <img id="instagram-img" th:src="@{images/inst.svg}" src="../../static/images/inst.svg" alt="instagram" class="instagram">
        </div>
    </div>
</footer>
<script th:href="@{js/scripts.js}" src="../../static/js/scripts.js"></script>
</html>