<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Recipe Creation</title>
    <link href="../../static/css/recipeCreation.css" rel="stylesheet" th:href="@{css/recipeCreation.css}"
          type="text/css">
    <link href="../../static/css/headerIfooter.css.css" rel="stylesheet" th:href="@{css/headerIfooter.css}"
          type="text/css">
</head>
<body>
<header>
    <div class="header">
        <img alt="logo" class="logo" src="../../images/logo.svg" th:src="@{images/logo.svg}">

        <form class="search-form">
            <img alt="magnifier" class="magnifier" src="../../static/images/magnifier.svg"
                 th:src="@{images/magnifier.svg}">
            <input name="query" placeholder="Search" type="search">
        </form>
        <a class="button-style" href="allRecipes.html" th:href="@{/allRecipes}">All recipes</a>
        <a class="button-style" href="recipe.html" th:href="@{/recipe/1}">Random</a>

        <div class="user-container heart-login-container" id="heart-btn">
            <div class="heart"
                 onmouseout="restoreImage('heart-img', '../../images/heart-login.svg')"
                 onmouseover="changeImage('heart-img', '../../images/heart-login-hover.svg')">
                <img alt="heart" class="heart" id="heart-img" src="../../images/heart-login.svg"
                     th:src="@{images/heart-login.svg}">
            </div>
        </div>

        <div id="overlay-favorite" onclick="hideOverlay()"></div>
        <div class="favoriteLists-window" id="favorite-popup-window">
            <div th:if="${favoriteList != null}">
                <div th:each="recipe, i : ${favoriteList.getRecipeUserLists()}">
                    <button th:class="${i.index == 0} ? 'recipe recipe' : 'recipe recipe' + i.index"
                            th:style="'top:' + (${i.index * 10 + 2}) + 'vh'">
                        <div class="content-wrapper">
                            <div class="comment-user-circle">
                                <img th:alt="${recipe.getRecipe().getCategory().getTitle()}"
                                     th:if="${recipe}"
                                     th:src="@{'../images/' + ${recipe.getRecipe().getCategory().getTitle()} + '.svg'}">
                            </div>
                            <div class="text-wrapper">
                                <a style="font-weight: bold;"
                                   th:href="@{/recipe/{id}(id=${recipe.getRecipe().getId()})}"
                                   th:text="${recipe.getRecipe().getTitle()}"></a>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>

        <button class="user-container" id="user-btn">
            <a th:href="@{/user}" th:if="${isLogin} == true">
                <div class="user"
                     onmouseout="restoreImage('user-img', '../../images/user-login.svg')"
                     onmouseover="changeImage('user-img', '../../images/user-login-hover.svg')">
                    <img alt="user" class="user" id="user-img" src="../../images/user-login.svg"
                         th:src="@{images/user-login.svg}">
                </div>
            </a>
        </button>

        <a href="main.html" th:href="@{/}">
            <img alt="home" class="home" src="../../images/home.svg" th:src="@{images/home.svg}">
        </a>
    </div>
</header>
<main>
    <form method="post" th:action="@{/api/newRecipe}" th:object="${recipe}">
        <div class="title">Create a recipe</div>

        <div class="text-form-title">
            <div class="recipeTitle">
                <input name="title" placeholder="Recipe title" th:value="${recipe.title}" type="text">
            </div>
        </div>
        <div class="text-form-time">
            <div class="recipeCookingTime">
                <input min="1" th:value="${recipe.cookingTime}" name="cookingTime"
                       placeholder="Cooking time in minutes" type="number" id="cookingTime">
            </div>
        </div>
        <div class="text-form-category">
            <div class="recipeCategory">
                <select name="query">
                    <option disabled selected value="">Category</option>
                    <option th:each="categor : ${category}" th:text="${categor}"
                            th:value="${recipe.category}"></option>
                </select>
            </div>
        </div>

        <div class="ingredientsField">
            <div class="tableContainer">
                <table id="ingredientsTable">
                    <tbody>
                    <tr>
                        <td><input name="ingredient" placeholder="Ingredient" type="text"></td>
                        <td><input name="amount" placeholder="Amount" type="text"></td>
                        <td>
                            <button class="deleteRow">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button id="addRow">Add</button>
        </div>
        <form class="text-form-devices">
            <div class="recipeDevices"></div>
            <input name="query" placeholder="Recipe devices (separate by comas) " type="text">
        </form>
        <div class="text-form-StepByStep">
            <div class="recipeStepByStep">
                <textarea name="description" th:value="${recipe.description}"
                          placeholder="Step by step instructions"></textarea>
            </div>
        </div>
        <button class="saveButton" id="save-btn">Save</button>
        <button class="publishButton">Publish</button>
    </form>
</main>
<footer class="footer">
    <button class="support-button" id="support-btn"><span>Support</span></button>

    <div id="overlay" onclick="hideOverlay()"></div>

    <div class="window" id="popup-window">  <!-- Вікно, яке з'являється при натисканні -->
        <div class="inner-window">
            <textarea name="query" placeholder="Enter feedback" required></textarea>
        </div>

        <button id="send-button">Send</button>
    </div>

    <div class="copyright">© Company policy and privacy rules</div>

    <div class="circle-container telegram-container">
        <div class="telegram"
             onmouseout="restoreImage('telegram-img', '../../images/telegram.svg')"
             onmouseover="changeImage('telegram-img', '../../images/telegram-hover.svg')">
            <img alt="telegram" class="telegram" id="telegram-img" src="../../images/telegram.svg"
                 th:src="@{images/telegram.svg}">
        </div>
    </div>

    <div class="circle-container instagram-container">
        <div class="instagram"
             onmouseout="restoreImage('instagram-img', '../../images/inst.svg')"
             onmouseover="changeImage('instagram-img', '../../images/inst-hover.svg')">
            <img alt="instagram" class="instagram" id="instagram-img" src="../../images/inst.svg"
                 th:src="@{images/inst.svg}">
        </div>
    </div>
</footer>
</body>
<script src="../../js/scripts.js" th:href="@{js/scripts.js}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.getElementById("cookingTime").value = ""
    $(document).ready(function () {
        $('#addRow').click(function () {
            let newRow = `<tr>
                        <td><input type="text" name="ingredient" placeholder="Ingredient"></td>
                        <td><input type="text" name="amount" placeholder="Amount"></td>
                        <td><button class="deleteRow">Delete</button></td>
                      </tr>`;
            $('#ingredientsTable tbody').append(newRow);
        });

        $(document).on('click', '.deleteRow', function () {
            $(this).closest('tr').remove();
        });
    });

    document.getElementById('cookingTimeInput').addEventListener('keydown', function (event) {
        if (event.key === '-' || event.key === '+') {
            event.preventDefault();
        }
    });


    document.getElementById('save-btn').addEventListener('click', function () {
        const selectedCategory = document.querySelector('select[name="query"]').value;

        if (selectedCategory === "") {
            alert("Please, choose a category of the recipe before saving.");
        }
    });
</script>
</html>