<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/recipe.css" th:href="@{css/recipe.css}">
</head>
<body>
<div class="header">
    <img th:src="@{images/logo.svg}" src="../../static/images/logo.svg" alt = "logo" class = "logo">

    <form class="search-form">
        <img th:src="@{images/magnifier.svg}" src="../../static/images/magnifier.svg" alt = "magnifier" class = "magnifier">
        <input name="query" placeholder="Search" type="search">
    </form>
    <a class="button-style" href="allRecipes.html" th:href="@{/allRecipes}">All recipes</a>
    <a class="button-style" href="recipe.html" th:href="@{/recipe/1}">Random</a>
    <div class="heart-container">
        <div class="heart"
             onmouseover="changeImage('heart-img', '../../static/images/heart-hover.svg')"
             onmouseout="restoreImage('heart-img', '../../static/images/heart.svg')"
        >
            <img id="heart-img" src="../../static/images/heart.svg" alt="heart" class="heart">
        </div>
    </div>

    <div class="user-container">
        <div class="user"
             onmouseover="changeImage('user-img', '../../static/images/user-hover.svg')"
             onmouseout="restoreImage('user-img', '../../static/images/user.svg')"
        >
            <img id="user-img" src="../../static/images/user.svg" alt="user" class="user">
        </div>
    </div>

    <a th:href="@{/}" href="main.html">
        <img th:src="@{images/home.svg}" src="../../images/home.svg" alt="home" class="home">
    </a>
</div>
<!--<p th:text="${recipe.getDescription()}"></p>
<a th:href="@{/allRecipes(category=${recipe.getCategory().getTitle()})}"
   th:text="${recipe.getCategory().getTitle()}"></a>
<p th:text="${recipe.getAverageMark()}"></p>
<table th:each="devices: ${recipe.getRecipeDevices()}">
    <tr>
        <td th:text="${devices.cookingDevice.getName()}"></td>
    </tr>
</table>
<table th:each="ingedients: ${recipe.getRecipeIngredients()}">
    <tr>
        <td><a th:href="@{/allRecipes(ingedient=${ingedients.ingredient.getName()})}"
               th:text="${ingedients.ingredient.getName()}"></a>
        </td>
        <td th:text="${ingedients.getAmountOfIngredient()}">
        </td>
    </tr>
</table>
<table th:each="comment : ${recipe.getComments()}">
    <tr th:text="${comment.getUser().getId()}"></tr>
    <tr th:text="${comment.getText()}"></tr>
</table>-->

<main>
    <img alt="recipeIcon" class="recipeIcon" th:src="@{images/Recipe.svg}" src="../../static/images/Recipe.svg" >
    <div class = "RecipeTitle">
        <p class="c3">Pancakes</p>
    </div>
    <div class = "RecipeRating">
        <p class = "num">8.8</p>
    </div>
    <div class = "FavoriteList">
        <p class = "c4">Favorite list</p>
    </div>
    <div class = "UserList">
        <p class = "c5">User list</p>
    </div>
    <div class = "Report">
        <p class = "c6">Report</p>
    </div>
    <div class = "stick"></div>
    <div class="mini">
        <p class="miniTime"> 30 minutes</p>
        <img alt="dessertI" class="dessertI" th:src="@{images/Waffles.svg}" src="../../static/images/Waffles.svg" >
        <p class="miniTime miniCategories"> Desserts </p>
    </div>

    <div class="IngredientTagsField">
        <p class="content"> #flour #baking_powder #sugar #milk #butter #eggs</p>
        <div class="IngredientTagsTitle">
            <p class = "c7">Ingredient tags</p>
        </div>
    </div>
    <div class="IngredientTagsField DeviceTagsField ">
        <p class="content">#electric_mixer</p>
        <div class="IngredientTagsTitle">
            <p class = "c7 devices">Devices tags</p>
        </div>
    </div>
    <form class="text-form">
        <img th:src="@{images/quill.svg}" src="../../static/images/quill.svg" alt = "quill" class = "quill">
        <input name="query" placeholder="Add comment" type="text">
        <div class="publish">
            <p class = "c8">Publish</p>
        </div>
    </form>
    <div class = "commentField">
        <div class = "comment">
            <div class = "commentIcon">
            </div>
        </div>
        <div class = " comment comment2">
            <div class = "commentIcon">
            </div>
        </div>
        <div class = "comment comment3">
            <div class = "commentIcon">
            </div>
        </div>
    </div>
    <div class = "stick stick2"></div>

    <div class="fullRecipe">
        <div class="fullRecipeHeader">
            <p class="frTitle">Recipe</p>
        </div>
        <div class="amountField">
            <div class="ingredientsHeader"></div>
            <p class="iTitle">Ingredient amount</p>
            <div class="ingredientsHeader devisesHeader"></div>
            <p class="iTitle dTitle">Devises</p>
        </div>
        <div class="stepByStepField">
            <div class="stepByStepHeader"></div>
            <p class="iTitle sbsTitle">Step-by-step instructions</p>
        </div>
    </div>
    <div class="addRatingField">

        <div class="ratingField">
        </div>
        <div class="confirmation">
            <img th:src="@{images/tick.svg}" src="../../static/images/tick.svg" alt = "quill" class = "tick">
        </div>
    </div>
</main>


<footer class="footer">
    <button class="support-button" id="support-btn"><span>Support</span></button>

    <div id="overlay" onclick="hideOverlay()"></div>

    <div class="window" id="popup-window">
        <div class="inner-window">
            <input name="query" placeholder="Enter feedback" type="search">
        </div>

        <button id="send-button">Send</button>
    </div>

    <div class="copyright">© Company policy and privacy rules</div>

    <div class="circle-container telegram-container">
        <div class="telegram"
             onmouseover="changeImage('telegram-img', '../../static/images/telegram-hover.svg')"
             onmouseout="restoreImage('telegram-img', '../../static/images/telegram.svg')"
        >
            <img id="telegram-img" src="../../static/images/telegram.svg" alt="telegram" class="telegram">
        </div>
    </div>

    <div class="circle-container instagram-container">
        <div class="instagram"
             onmouseover="changeImage('instagram-img', '../../static/images/inst-hover.svg')"
             onmouseout="restoreImage('instagram-img', '../../static/images/inst.svg')"
        >
            <img id="instagram-img" src="../../static/images/inst.svg" alt="instagram" class="instagram">
        </div>
    </div>
</footer>
<script src="../../static/js/scripts.js"></script>
</body>
</html>