<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" type="text/css" href="../../static/css/user.css" th:href="@{css/user.css}">
</head>
<body>
<header>
    <div class="header">
        <img th:src="@{images/logo.svg}" src="../../static/images/logo.svg" alt = "logo" class = "logo">

        <form class="search-form">
            <img th:src="@{images/magnifier.svg}" src="../../static/images/magnifier.svg" alt = "magnifier" class = "magnifier">
            <input name="query" placeholder="Search" type="search">
        </form>

        <a class="button-style" href="allRecipes.html" th:href="@{/allRecipes}">All recipes</a>
        <a class="button-style" href="recipe.html" th:href="@{/recipe/1}">Random</a>

        <div class="user-container heart-container">
            <div class="heart"
                 onmouseover="changeImage('heart-img', '../../images/heart-login-hover.svg')"
                 onmouseout="restoreImage('heart-img', '../../images/heart-login.svg')">
                <img id="heart-img" th:src="@{images/heart-login.svg}" src="../../images/heart-login.svg" alt="heart" class="heart">
            </div>
        </div>

        <button class="user-container" id="user-btn">
            <div class="user"
                 onmouseover="changeImage('user-img', '../../images/user-login-hover.svg')"
                 onmouseout="restoreImage('user-img', '../../images/user-login.svg')">
                <img id="user-img" th:src="@{images/user-login.svg}" src="../../images/user-login.svg" alt="user" class="user">
            </div>
        </button>

        <a th:href="@{/}" href="main.html">
            <img th:src="@{images/home.svg}" src="../../images/home.svg" alt="home" class="home">
        </a>
    </div>
</header>

<main>
    <div class="cooker">
        <div class="cooker-circle"></div>
        <img th:src="@{images/cooker.svg}" src="../../static/images/cooker.svg" alt="cooker" class="cooker">
    </div>
    <div class="user-name">User name</div>

    <div class="green-line"></div>

    <div class="button-container" id="button">
        <button class="createList" id="createList-btn">Create a list</button>
        <button class="createRecipe">Create a recipe</button>
        <button class="allLists">All Lists</button>
        <button class="logOut">Log out</button>
        <button class="logInModerator">Log in as moderator</button>
    </div>

    <div id="overlay-list" onclick="hideOverlay()"></div>

    <div class="list-container" id="list-field-popup-window">
        <div class="list-name">
            <input type="text" placeholder="Enter list name" id="listName">
        </div>
        <button class="confirm-list-button" id="confirm-list-btn">Confirm</button>
    </div>

    <div class ="recipesField">
        <div class="recipesFieldHeader">
            <p class="c7">User notes</p>
        </div>
    </div>
    <div class="stick"></div>
    <div class="stick stick2"></div>
    <div class="stick3"></div>
</main>

<footer class="footer">
    <button class="support-button" id="support-btn"><span>Support</span></button>

    <div id="overlay" onclick="hideOverlay()"></div>

    <div class="window" id="popup-window">
        <div class="inner-window">
            <input name="query" placeholder="Enter feedback" type="text">
        </div>

        <button id="send-button">Send</button>
    </div>

    <div class="copyright">© Company policy and privacy rules</div>

    <div class="circle-container telegram-container">
        <div
                class="telegram"
                onmouseover="changeImage('telegram-img', '../../images/telegram-hover.svg')"
                onmouseout="restoreImage('telegram-img', '../../images/telegram.svg')"
        >
            <img id="telegram-img" th:src="@{images/telegram.svg}"  src="../../images/telegram.svg" alt="telegram" class="telegram">
        </div>
    </div>

    <div class="circle-container instagram-container">
        <div
                class="instagram"
                onmouseover="changeImage('instagram-img',  '../../images/inst-hover.svg')"
                onmouseout="restoreImage('instagram-img',  '../../images/inst.svg')"
        >
            <img id="instagram-img" th:src="@{images/inst.svg}" src="../../images/inst.svg" alt="instagram" class="instagram">
        </div>
    </div>
</footer>

<script th:href="@{js/scripts.js}" src="../../js/scripts.js"></script>
<script>
    document.getElementById("createList-btn").addEventListener("click",
        () => showOverlay("overlay-list", "list-field-popup-window"));
    document.getElementById("overlay-list").addEventListener("click",
        () => hideOverlay("overlay-list", "list-field-popup-window"));
    document.getElementById("confirm-list-btn").addEventListener("click",
        () => hideOverlay("overlay-list", "list-field-popup-window"));
</script>
</body>
</html>