.ListTitle {
    position: absolute;
    font-family: 'Frank Ruhl Libre', serif;;
    font-size: 3vw;
    font-weight: 400;
    line-height: 1vh;
    left: 44vw;
    top: 15vh;
    color: black;
    text-align: center;
    flex-basis: calc(33.33% - 0.2vh);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.MainField {
    position: absolute;
    top: 20vh;
    width: 95vw;
    height: 70vh;
    left: 2.5vw;
    /*background-color: #B90F0F;*/
    overflow-y: auto;
    overflow-x: hidden;
    flex-wrap: wrap;

}

/*____________________________________________________________________________________________________________________*/
::-webkit-scrollbar {
    width: 0.78125vw;
}

::-webkit-scrollbar-track {
    margin-top: 2.7778vh;
    border: 0.0520834vw solid black;
    border-radius: 50px;
    background: #F2E3B3;
    margin-left: 0.5vw;
}

::-webkit-scrollbar-thumb {
    background: #733506;
    border-radius: 50px;
}

/*____________________________________________________________________________________________________________________*/
.ListField {
    width: 29.7vw;
    height: 41.67vh;
    background-color: #F2E3B3;
    border-radius: 5vh;
}

.ListFieldHeader {
    width: 29.7vw;
    height: 6.667vh;
    background-color: #3E5902;
    color: #FBEFC7;
    border-radius: 5vh 5vh 0 0;
    position: absolute;
    font-family: 'Frank Ruhl Libre', serif;;
    font-size: 2vw;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center
}

.ListField1 {
    margin-left: 32.5vw;
    margin-top: -21vw;
}

.ListField2 {
    margin-left: 65vw;
    margin-top: -21vw;
}

.ListField3 {
    margin-top: 2.5vh;
}

/*____________________________________________________________________________________________________________________*/
.containerList {
    position: absolute;
    top: 9vh;
    width: 27.6vw;
    height: 30vh;
    /*background-color: #B90F0F; !*червоний для зручності щоб бачити межі контейнеру*!*/
    left: 0.7vw; /*2.605vw; - це щоб було рівномірно, але в нас там ще буде скрол, томку поки так*/
    overflow-y: auto;
    overflow-x: hidden;
}

.userRecipeField {
    position: absolute;
    width: 27.6vw;
    height: 8vh;
    background-color: #FBEFC7;
    border-radius: 5vh;
    left: 0.7vw;
}

.testForSwitch {
    position: absolute;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.3vw;
    top: 1vh;
    left: 2vw;
}

.testForSwitch2 {
    position: absolute;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.3vw;
    top: 5vh;
    left: 2vw;
}

.publishBlocked {
    position: absolute;
    width: 4.511vw;
    height: 3.556vh;
    top: 2.5vh;
    right: 2.5vw;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.2vw;
    background: rgba(62, 89, 2, 0.3);
    border-radius: 5vh;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center
}

.publishBlocked:hover {
    cursor: not-allowed;
}

.userRecipeField2 {
    top: 10.48vh;
}

.publish {
    position: absolute;
    width: 4.511vw;
    height: 3.556vh;
    top: 2.5vh;
    right: 2.5vw;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.2vw;
    background: rgba(62, 89, 2);
    border-radius: 5vh;
    color: #FBEFC7;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center
}


.userRecipeField3 {
    top: 20.96vh;
}

.recipeIcon {
    position: absolute;
    height: 5.5vh; /*3.7*/
    width: 4.2vw; /*2.6*/
    right: 2.5vw;
    top: 1.5vh;
}

.userRecipeField4 {
    top: 31.46vh;
}

.moderation {
    position: absolute;
    height: 6vh;
    width: 6vw;
    right: 1.5vw;
    top: 1.5vh;
}

.userRecipeField5 {
    top: 41.94vh;
}

/*____________________________________________________________________________________________________________________*/
.containerList::-webkit-scrollbar {
    width: 0.78125vw;
}

.containerList::-webkit-scrollbar-track {
    margin-top: 2.7778vh;
    border: 0.0520834vw solid black;
    border-radius: 50px;
    background: #F2E3B3;
    left: 5vw;
}

.containerList::-webkit-scrollbar-thumb {
    background: #733506;
    border-radius: 50px;
}

.containerList::-webkit-scrollbar {
    width: 0.78125vw;
}

::-webkit-scrollbar-track {
    margin-top: 2.7778vh;
    border: 0.0520834vw solid black;
    border-radius: 50px;
    background: #F2E3B3;
    margin-left: 2vw;
}

::-webkit-scrollbar-thumb {
    background: #733506;
    border-radius: 50px;
}

/*____________________________________________________________________________________________________________________*/
