body {
    background-color: #F2F2EB;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    height: 11.2vh;
    background: #F2E3B3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2.083vw;
    padding-left: 4.166vw;
}
.logo1 {
    width: 6.25vw;
    height: 10vh;
    top: 0.3vw;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 1.0415vw;
    background: #FBEFC7;
    border-radius: 30px;
}

.search-form input {
    height: 6.19vh;
    width: 41.67vw;
    flex: 1;
    border: none;
    background: #FBEFC7;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2.5vh;
    font-size: 2.5vw;
    border-radius: 30px;
    outline: none;
}

.magnifier{
    height: 3.3333333333vh;
    width: 1.875vw;
}

.button-style {
    display: flex;
    background-color: #3E5902;
    height: 5.7407vh;
    width: 6.4640625vw;
    border-radius: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.25vh;
    font-size: 1.25vw;
    text-decoration: none;
}

.heart, .user {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.heart:hover, .user:hover {
    border-radius: 50%;
    background-color: #733506;
    width: 100px;
    height: 100px;
}

.heart:hover path, .user:hover path {
    fill: #F2E3B3;
}

.home{
    height: 5.55555555vh;
    width: 3.125vw;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: 20px;
}

.h1 {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 42px;
    color: #733506;
    position: absolute;
    transform: translateY(-35px);
    left: 38px;
}

.ul {
    position: absolute;
    top: 150px;
    height: 500px;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 32px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 5px;
}

ul {
    padding-left: 5px;
    margin-left: 10px;
}

ul li {
    list-style: none;
    padding-left: 5px;
}

ul hr {
    border: 2px solid black;
    margin: 10px 0;
}


::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 50px;
    background: #F2E3B3;
}

::-webkit-scrollbar-thumb {
    background: #733506;
    border-radius: 50px;
}

.bean {
    position: absolute;
    left: 118px;
    bottom: 30px;
}

.cheesecake {
    position: absolute;
    left: 18.4375vw;
    top: 54.1vh;
    border-radius: 150px 150px 80px 80px;
    z-index: 1;
    width: 12.20vw;
    height: 36.1vh;
}

.fresh {
    position: absolute;
    left: 33.6875vw;
    top: 54.1vh;
    border-radius: 150px 150px 80px 80px;
    width: 12.20vw;
    height: 36.1vh;
}

.seafoodSalad {
    position: absolute;
    left: 48.9175%;
    top: 54.1vh;
    border-radius: 150px 150px 80px 80px;
    width: 12.20vw;
    height: 36.1vh;
}

.rectangle {
    position: absolute;
    width: 12.20vw;
    height: 6.0185185185vh;
    top: 84.20vh;
    margin-right: 2.0833vw;
    border-radius: 0px 0px 50px 50px;
    background: #F2E3B3;
    z-index: 2;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 3.8888vh;
    font-size: 2.1875vw;
}

.rectangle-left-1 {
    left: 18.4375vw;
}

.dessert:hover .cheesecake, .dessert:hover .rectangle-left-1 {
    border: 5px solid #733506;
}

.rectangle-left-2 {
    left: 33.6875vw;
}

.drink:hover .fresh, .drink:hover .rectangle-left-2 {
    border: 5px solid #733506;
}

.rectangle-left-3 {
    left: 48.9175%;
}

.salad:hover .seafoodSalad, .salad:hover .rectangle-left-3 {
    border: 5px solid #733506;
}


.rectangle4 {
    position: absolute;
    width: 900px;
    height: 380px;
    top: 160px;
    left: 355px;
    border-radius:60px;
    background: #F2E3B3;
    z-index: 2;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 32px;
}

.firstd:hover .soup, .firstd:hover .rectangle4 {
    border: 5px solid #733506;
}

.rectangle1-container {
    position: absolute;
    width: 585px;
    height: 820px;
    border-radius: 90px;
    background: #F2E3B3 url('../images/mainD.jpg') no-repeat center;
    background-size: cover; /* Адаптуємо розмір фото, щоб воно покривало всю площу контейнера */
    right: 40px;
    top: 160px;
    bottom: 100px;
}

.rectangle11-container {
    position: absolute;
    width: 585px;
    height: 85px;
    border-radius: 0px 0px 90px 90px;
    background: #F2E3B3;
    background-size: cover; /* Адаптуємо розмір фото, щоб воно покривало всю площу контейнера */
    top: 735px;
    right: 0px;
    left: -5px;
    bottom: 100px;
}


.rectangle11-container svg {
    position: absolute;
    top: 20px;
    bottom: 14px;
    left: 140px;
}

.rectangle1-container:hover,
.rectangle11-container {
    border: 5px solid #733506;
}

.copyrightm {
    position: absolute;
    left: 240px;
    bottom: -18px;
    text-align: center;
    font-family: 'Frank Ruhl Libre';
    font-size: 42px;
    font-weight: 600;
    line-height: 31px;

    color: #000000;
}

.rectangle2-container {
    position: absolute;
    width: 900px;
    height: 383px;
    border-radius: 90px;
    background: #F2E3B3 url('../images/firstD.jpg') no-repeat center;
    background-size: cover; /* Адаптуємо розмір фото, щоб воно покривало всю площу контейнера */
    right: 670px;
    top: 160px;
    bottom: 535px;
}

.rectangle21-container {
    position: absolute;
    width: 900px;
    height: 77px;
    border-radius: 0px 0px 90px 90px;
    background: #F2E3B3;
    background-size: cover; /* Адаптуємо розмір фото, щоб воно покривало всю площу контейнера */
    top: 306px;
    bottom: 535px;
}

.rectangle21-container svg {
    position: absolute; /* Встановлюємо позицію absolute для SVG відносно його батьківського контейнера */
    top: 5px;
    bottom: 20px;
    left: 325px; /* Зсуваємо SVG на 20px від лівого краю контейнера */
}

.copyrightf {
    position: absolute;
    left: 410px;
    bottom: -18px;
    text-align: center;
    font-family: 'Frank Ruhl Libre';
    font-size: 42px;
    font-weight: 600;
    line-height: 31px;
    color: #000000;
}

.footer {
    position: fixed;
    width: 100%;
    height: 5.6vh;
    top: 94.4vh;
    bottom: 0;
    background-color: #3E5902;
    color: #F2E3B3;
    padding: 1.4vh;
    display: flex;
    left: 0;
    justify-content: space-between;
    z-index: 5;
}

.support-button {
    position: relative;
    left: 90px;
    top: 7px;
    bottom: 7px;
    background-color: #F2E3B3;
    color: #733506;
    border-radius: 30px;
    padding: 10px;
    width: 162px;
    height: 46px;
    text-align: center;
    font-family: 'Frank Ruhl Libre';
    font-size: 24px;
    font-weight: 400;
    line-height: 46px;
    border: none;
    cursor: pointer;
    outline: none;
}

.support-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.support-button:hover {
    background-color: transparent;
    border: 5px solid #F2E3B3;
    color: #F2E3B3;
}

#feedback-input {
    width: 100%;
    height: 100px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}

#send-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
}


.circle-container {
    width: 5.3703vw;
    height: 5.3703vh;
    margin-right: 1vw;
    position: relative;
}

.circle {
    position: relative;
    width: 5.3703vw;
    height: 5.3703vh;
    background-color: #F2E3B3;
    border-radius: 50%;
    overflow: hidden;
}

.circle svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
}

.copyright1 {
    position: static;
    width: 400px;
    height: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
    font-family: 'Frank Ruhl Libre';
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    text-align: left;
    color: #F2E3B3;
}