body {
    background-color: #F2F2EB;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    height: 11.2vh;
    background: #F2E3B3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2.083vw;
    padding-left: 4.166vw;
}

.logo {
    width: 6.25vw;
    height: 10vh;
    top: 0.3vw;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 0.52vw;
    padding-left: 1.0415vw;
    background: #FBEFC7;
    border-radius: 2.7vw;
}

.search-form input, .inner-window input{
    height: 6.19vh;
    width: 41.67vw;
    margin-left: 1vw;
    margin-top: 0.2vh;
    flex: 1;
    border: none;
    background: #FBEFC7;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2.5vw;
    border-radius: 0 5.5vh 5.5vh 0;
    outline: none;
    autocomplete: off;
}

.login-heading {
    position: absolute;
    right: 9.58vw;
    bottom: 21.5vh;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2vw;
}

.email input, .password input {
    width: 21.979vw;
    height: 6.19vh;
    flex: 1;
    border: none;
    background: #FBEFC7;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2vh;
    font-size: 2vw;
    border-radius: 5.5vh;
    outline: none;
    padding-left: 1vw;
}

.magnifier{
    height: 3.3333333333vh;
    width: 1.875vw;
}

.button-style {
    display: flex;
    background-color: #3E5902;
    height: 5.7407vh;
    width: 6.4640625vw;
    border-radius: 2.7vw;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.25vh;
    font-size: 1.25vw;
    text-decoration: none;
}

.heart img, .user img{
    width: 3.6458vw;
    height: 5.5555vh;
}

.heart-container, .user-container, .heart-login-container, .user-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    border: none;
    background-color: #F2E3B3;
}

.user-container:hover, .user-login-container {
    background-color: #733506;
    width: 4.6vw;
    height: 9.2593vh;
}

.heart-container:hover{
    cursor: not-allowed;
}

.heart-login-container:hover{
    background-color: #B90F0F;
}

.home{
    height: 5.55555555vh;
    width: 3.125vw;
}
/*____________________________________________________________________________________________________________________*/
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1.9vw;
    margin-top: 2.5vh;
    margin-right: 1.7vw;
    z-index: 1;
}

.h1 {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2.1875vw; /*42*/
    font-size: 3.8889vh;
    color: #733506;
    position: absolute;
    left: 1.979167vw;
    bottom: 0.2605vh;
    margin-bottom: 44.25vh;
}

.boardOneTitle{
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2vw; /*42*/
    color: #733506;
    width: 3vw;
    height: 4vh;
    margin-left: 2.7vw;
    margin-top: -63.5vh;
    z-index: 5;
}

.ul {
    position: absolute;
    top: 19vh;
    height: 44vh;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.66667vw;
    font-size: 2.963vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 0.2605vw;
    margin-top: 0.5vh;
}

ul {
    padding-left: 0.2605vw;
    margin-left: 0.521vw;
}

ul li {
    list-style: none;
    padding-left: 0.2605vw;
    margin-left: 0.4vw;
    margin-right: 0.7vw;
}

ul li:hover {
    background-color: #F2B705;
    border-radius: 5.5vw;
    height: 5vh;
    width: 9.3vw;
}

ul hr {
    border: 0.104167vw solid black;
    margin: 0.520834vw ;
    margin-left: 0.5vw;
    margin-right: 0.6vw;
}
/*____________________________________________________________________________________________________________________*/
::-webkit-scrollbar {
    width: 0.78125vw;
    margin-left: 5vw;
}

::-webkit-scrollbar-track {
    margin-top: 2.7778vh;
    border: 0.0520834vw solid black;
    border-radius: 50px;
    background: #F2E3B3;
    margin-left: 0.5vw;
}

::-webkit-scrollbar-thumb {
    background: #733506;
    border-radius: 50px;
}

.board{
    width: 14.584vw; /*280*/
    height:75.926vh; /*820*/
    margin-right: 2.5vw;
    margin-top: 1vh;
}

.fieldForCategory{
    width: 12.5vw; /*240*/
    height:66.67vh; /*720*/
    margin-right: 2.344vw;
}

.First-Dish{
    width: 2.65625vw;
    height:5.5556vh;
}

.Main-Dish{
    width: 2.05vw;
    height:2.7vh;
}

.Salad{
    width: 2.0833vw;
    height:4.167vh;
}

.pastryI{
    width: 2.34375vw;
    height: 3.24075vh;
}

.Dessert{
    width: 2.34375vw;
    height: 3.24075vh;
}

.Drink{
    width: 2.34375vw;
    height: 4.1667vh;
}

.snackI{
    width: 2.34375vw;/*45*/
    height: 2.7778vh;/*30*/
}

.fish{
    width: 2.34375vw;
    height: 3.24075vh; /*35*/
}

.sauceI{
    width: 1.927084vw;
    height: 4.3518vh; /*37*/
}

.bean {
    position: absolute;
    width: 2vw;/*35*/
    height: 4.8vh;/*45*/
    left: 6.3vw;
    top: 69vh;
}

a:link, a:visited {
    text-decoration: none;
}

/*____________________________________________________________________________________________________________________*/

.cheesecake {
    position: absolute;
    left: 18.4375vw;
    top: 54.1vh;
    border-radius: 13.8vh 13.8vh 7.8vh 7.8vh;
    z-index: 1;
    width: 13.17vw;
    height: 36.1vh;
    margin-right: 2.344vw;
}

.fresh {
    position: absolute;
    left: 33.6875vw;
    top: 54.1vh;
    border-radius: 13.8vh 13.8vh 7.8vh 7.8vh;
    width: 13.17vw;
    height: 36.1vh;
    margin-right: 2.344vw;
}

.seafoodSalad {
    position: absolute;
    left: 48.9175vw;
    top: 54.1vh;
    border-radius: 13.8vh 13.8vh 7.8vh 7.8vh;
    width: 13.17vw;
    height: 36.1vh;
    margin-right: 2.344vw;
}

.firstDish{
    position: absolute;
    left: 18.4375vw;
    top: 14.815vh;
    height: 35.1851vh;
    width: 43.69vw;
    margin-right: 2.344vw;
    border-radius: 5.5vh 5.5vh 7.8vh 7.8vh;
}

.mainDish{
    position: absolute;
    left: 63.931vw;
    top: 14.815vh;
    height: 75.926vh;
    width: 31.25vw;
    margin-left: 2.344vw;
    border-radius: 8.3vh 8.3vh 7.8vh 7.8vh;
}

.rectangle {
    position: absolute;
    width: 13.17vw;
    height: 6.0185185185vh;
    top: 84.5vh;
    margin-right: 2.344vw;
    border-radius: 0vh 0vh 7.8vh 7.8vh;
    background: #F2E3B3;
    z-index: 2;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 3.8888vh;
    font-size: 2.1875vw;
}

.rectangle-left-1 {
    left: 18.4375vw;
}

.dessert:hover .cheesecake, .dessert:hover .rectangle-left-1 {
    border: 0.46vh solid #733506;
}

.rectangle-left-2 {
    left: 33.6875vw;
}

.drink:hover .fresh, .drink:hover .rectangle-left-2 {
    border: 0.46vh solid #733506;
}

.rectangle-left-3 {
    left: 48.9175vw;
}

.salad:hover .seafoodSalad, .salad:hover .rectangle-left-3 {
    border: 0.46vh solid #733506;
}

.rectangleFD {
    position: absolute;
    height: 7vh;
    width: 43.69vw;
    top: 43vh;
    margin-right: 2.344vw;
    border-radius: 0vh 0vh 7.8vh 7.8vh;
    background: #F2E3B3;
    z-index: 2;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    left: 18.4375vw;
    font-size: 3.8888vh;
    font-size: 2.1875vw;
}

.firstD:hover .rectangleFD, .firstD:hover .firstDish {
    border: 0.46vh solid #733506;
}

.rectangleMD {
    position: absolute;
    height: 7vh;
    width: 31.25vw;
    top: 83.70vh;
    left: 66.275vw;
    margin-right: 2.344vw;
    border-radius: 0vh 0vh 7.8vh 7.8vh;
    background: #F2E3B3;
    z-index: 2;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 3.8888vh;
    font-size: 2.1875vw;
}

.mainD:hover .rectangleMD, .mainD:hover .mainDish {
    border: 0.46vh solid #733506;
}

/*____________________________________________________________________________________________________________________*/
.footer {
    position: fixed;
    width: 100%;
    height: 5.6vh;
    top: 94.4vh;
    bottom: 0;
    background-color: #3E5902;
    color: #F2E3B3;
    padding: 1.4vh;
    display: flex;
    left: 0;
    justify-content: space-between;
    z-index: 5;
}

#send-button {
    position: absolute;
    right: 4.6875vw;
    width: 9.0105vw;
    height: 4.2593vh;
    background-color: #3E5902;
    border-radius: 2.7vw;
    text-align: center;
    font-family: 'Frank Ruhl Libre';
    font-size: 1.25vh;
    font-size: 1.25vw;
    color: #FBEFC7;
    border: none;
    top: 37.04vh;
    bottom: 1.4815vh;
    z-index: 15;
    cursor: pointer;
}

#confirm-button {
    background-color: #3E5902;
    position: absolute;
    width: 15.6vw;
    height: 5vh;
    right: 5.2vw;
    bottom: 1.7vh;
    z-index: 15;
    border-radius: 2.7vw;
    cursor: pointer;
    text-align: center;
    font-family: 'Frank Ruhl Libre';
    font-size: 2vh;
    font-size: 2vw;
    color: #FBEFC7;
    border: none;
}

#send-button:hover {
    background-color: #FBEFC7;
    color: #3E5902;
    border: 0.5vh solid #3E5902;
}

#overlay, #overlay-user {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.window {
    position: fixed;
    display: none;
    bottom: 9.2593vh;
    left: 9.6vh;
    width: 59.375vw;
    height: 43.056vh;
    background: #F2E3B3;
    padding: 0.02vw;
    z-index: 11;
    border-radius: 5.5vh;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.login-window {
    position: fixed;
    display: none;
    border-radius: 2.7vw;
    width: 26vw;
    height: 30vh;
    left: 72.9vw;
    bottom: 59.7vh;
    background-color: #F2E3B3;
    z-index: 11;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.login-form {
    border-radius: 2.7vw;
    position: absolute;
    width: 21vw;
    height: 4.5vh;
    z-index: 13;
    left: 1.5vw;
}

.email {
    top: 7vh;
}

.password {
    top: 14.8vh;
}

.inner-window {
    background: #FBEFC7;
    position: absolute;
    width: 55.2083vw;
    height: 31.945vh;
    left: 2.1354167vw;
    top: 3.5185vh;
    padding-left: 0.01vw;
    border-radius: 2.25vh;
    z-index: 13;
}

.support-button {
    position: relative;
    left: 4.6875vw;
    bottom: 0.6481vh;
    background-color: #F2E3B3;
    color: #733506;
    border-radius: 2.7vw;
    padding: 0.19vw;
    width: 8.4375vw;
    height: 4.2593vh;
    text-align: center;
    font-family: 'Frank Ruhl Libre';
    font-size: 1.25vh;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 4.2593vh;
    border: none;
    cursor: pointer;
    outline: none;
}

.support-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.support-button:hover {
    background-color: transparent;
    border: 0.4vh solid #F2E3B3;
    color: #F2E3B3;
}

.circle-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2E3B3;
    border-radius: 50%;
    width: 2.4vw;
    height: 5vh;
    bottom: 1vh;
}

.telegram-container {
    right: 5vw;
}

.instagram-container {
    right: 3vw;
}

.telegram {
    width: 2.39583vw;
    height: 4.2592vh;
}

.instagram{
    width: 2.3vw;
    height: 4.06vh;
}

.telegram-container:hover, .instagram-container:hover {
    background-color: #733506;
}

.copyright {
    position: static;
    width: 21vw;
    height: 3vh;
    margin: auto;
    font-family: 'Frank Ruhl Libre';
    font-size: 1.25vh;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1vh;
    text-align: left;
    color: #F2E3B3;
}