::-webkit-scrollbar {
    width: 0.78125vw;
}

::-webkit-scrollbar-track {
    margin-top: 2.7778vh;
    margin-bottom: 2.7778vh;
    border-radius: 4.63vh;
}

::-webkit-scrollbar-thumb {
    background: #733506;
    border-radius: 4.63vh;
}

/*____________________________________________________________________________________________________________________*/
.titleForAiPage {
    position: absolute;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2.2vw;
    text-decoration: none;
    left: 37vw;
    top: 12.2vh;
}

.AIReportField {
    position: absolute;
    width: 95.8vw;
    height: 71vh;
    background-color: #F2B705;
    border-radius: 5vh;
    top: 19vh;
    left: 2.1vw;
}

.scrollField {
    position: absolute;
    width: 92vw;
    height: 64.5vh;
    background-color: #3E5902;
    border-radius: 5vh;
    top: 3.5vh;
    margin-bottom: 13vh;
    left: 2vw;
    overflow-y: auto; /* Дозволяє вертикальний скрол */
    overflow-x: hidden; /* Вимикає горизонтальний скрол */
}


.reportField {
    position: absolute;
    width: 92vw;
    height: 30vh;
    background-color: #FBEFC7;
    border-radius: 5vh;

}

.report2 {
    position: absolute;
    top: 34.5vh;
}

.report3 {
    position: absolute;
    top: 54.5vh;
}

/*____________________________________________________________________________________________________________________*/
.linkField {
    position: absolute;
    width: 91.6vw;
    height: 8vh;
}

.notInBD {
    position: absolute;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2vw;
    text-decoration: none;
    left: 2vw;
    top: 1vh;
}

.InBD {
    left: 27vw;
}

.informationField {
    position: absolute;
    width: 88vw;
    height: 13vh;
    background-color: #F2E3B3;
    border-radius: 3vh;
    top: 8vh;
    left: 1.8vw;
}

#processing {
    position: absolute;
    width: 26vw;
    height: 6vh;
    background-color: #3E5902;
    top: 14.5vh;
    left: 31vw;
    border-radius: 2vh;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2vw;
    color: #F2E3B3;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}