.avatarField {
    position: absolute;
    width: 12vw;
    height: 23.15vh;
    left: 2.448vw;
    top: 15.9vh;
    border-radius: 50%;
    background-color: #F2E3B3;
}

.moder {
    width: 7.4vw;
    height: 14.85vh;
    margin-top: 3vh;
    margin-left: 2.35vw;
}

.line {
    width: 23.8vw; /* Ширина лінії */
    background-color: #3E5902;
    height: 0.5vh;
    border-radius: 5%;
    margin-left: 16vw;
    margin-top: 21vh;
}

.nikText {
    position: absolute;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2.7vw;
    font-weight: 400;
    line-height: 1vh;
    text-align: left;
    color: black;
    left: 19.2vw;
    top: 29.5vh;
}

/*____________________________________________________________________________________________________________________*/
.AIReport, .UserReport {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 32.3vw;
    height: 18.52vh;
    background-color: #F2E3B3;
    border-radius: 5vh;
    left: 16.875vw;
    bottom: 35vh;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2.7vw;
    border: none;
    display: flex;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.reportAI:hover, .AIReport:hover {
    background-color: #F2B705;
}

.UserReport {
    left: 51.5vw;
}

.reportUser {
    position: absolute;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2.7vw;
    font-weight: 400;
    line-height: 1vh;
    text-align: left;
    color: black;
    left: 61.5vw;
    top: 47vh;
}

.UserReport:hover, .reportUser:hover {
    background-color: #F2B705;
}

.returnB {
    position: absolute;
    width: 28.3vw;
    height: 8.34vh;
    background-color: #3E5902;
    border-radius: 5vh;
    margin-left: 59.4vw;
    margin-top: 18vh;
    bottom: 10vh;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2.2vw;
    color: #FBEFC7;
    border: none;
    padding-top: 2.5vh;
    text-decoration: none;
}


.returnB:hover {
    background-color: #F2B705;
    color: #3E5902;
    border: 0.5vh solid #3E5902;
}

/*____________________________________________________________________________________________________________________*/

/*а чи потрібно нам таку довгу фразу? може просто скоротити її до Log out ?*/
/*2.963*/
/*.stick{*/
/*    position: absolute;*/
/*    width: 8.34vw;*/
/*    height: 2.963vh;*/
/*    background-color:  black;*/
/*    margin-top: -6.1vh;*/
/*    margin-left: 91.66vw;*/
/*}*/