body {
    background-color: #F2F2EB;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    height: 11.2vh;
    background: #F2E3B3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2.083vw;
    padding-left: 4.166vw;
}

.logo {
    width: 6.25vw;
    height: 10vh;
    top: 0.3vw;
}


.search-form {
    display: flex;
    align-items: center;
    gap: 0.52vw;
    padding-left: 1.0415vw;
    background: #FBEFC7;
    border-radius: 2.7vw;
}

.search-form input{
    height: 6.19vh;
    width: 41.67vw;
    margin-left: 1vw;
    margin-top: 0.2vh;
    flex: 1;
    border: none;
    background: #FBEFC7;
    border-radius: 0 5.5vh 5.5vh 0;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2.5vw;
    outline: none;
    autocomplete: off;
}

.magnifier{
    height: 3.3333333333vh;
    width: 1.875vw;
}

.button-style {
    display: flex;
    background-color: #3E5902;
    height: 5.7407vh;
    width: 6.4640625vw;
    border-radius: 2.7vw;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.25vw;
    text-decoration: none;
}

.heart img, .user img{
    width: 3.6458vw;
    height: 5.5555vh;
}

.heart-container, .user-container, .heart-login-container, .user-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: #F2E3B3;
}

.user-container:hover {
    background-color: #733506;
    width: 4.6vw;
    height: 9.2593vh;
}

.heart-container:hover{
    cursor: not-allowed;
}

.heart-login-container:hover{
    background-color: #B90F0F;
}

.home{
    height: 5.55555555vh;
    width: 3.125vw;
}

.recipeIcon{
    width: 3.125vw;
    height: 5.556vh;
    margin-top: 4vh;
    margin-left: 0.5vw;
}
.RecipeTitle{
    position: absolute;
    width: 42.7vw;
    height: 5.556vh;
    margin-top: 4vh;
    margin-left: 4vw;
    top: 11.1vh;
    border-radius: 5.5vh;
    background-color: #F2E3B3;
}

.c3{
    position: absolute;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2.5vw; /*48*/
    font-size: 4.445vh;
    color: black;
    left: 1.6vw;
    margin-bottom: 0.5vh;
    margin-top: 0.1vh;
}

.RecipeRating{
    position: absolute;
    width: 6.5vw;
    height: 5vh;
    margin-left: 48.4834vw;
    top: 14.6vh;
    border: 0.7vh solid #F2E3B3;
    border-radius: 5vh;
}

.num{
    position: absolute;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2.5vw; /*48*/
    font-size: 4.445vh;
    color: black;
    left: 1.6vw;
    margin-left: 0.2vw;
    margin-bottom: 0.5vh;
    margin-top: 0.1vh;
}

#FavoriteList, #UserList, .Report{
    position: absolute;
    width: 14.9vw;
    height: 5.556vh;
    left: 57.5834vw;
    top: 15.1vh;
    background-color:  #F28705;
    border-radius: 5vh;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.75vw; /*48*/
    border: none;
    cursor: pointer;
}

#UserList{
    left: 74.5834vw;
}

.Report{
    width: 6.5vw;
    left: 91.4834vw;
}

.mini{
    position: absolute;
    width: 10vw;
    height: 5.556vh;
    top: 21.5vh;
    margin-left: 4vw;
}

.miniTime{
    position: absolute;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1vw; /*48*/
    font-size: 3vh;
    color: black;
    margin-left: 1.7vw;
    margin-bottom: 0.3vh;
    margin-top: 0.3vh;
}
.Dessert, .Main-Dishes, .First-Dishes, .Salads, .Sauces, .Drinks{
    position: absolute;
    width: 6vw;
    height: 4vh;
    margin-left: 8vw;
    margin-top: 0.2vh;
}

.miniCategories{
    margin-left: 14vw;
    width: 10vw;
}

/*____________________________________________________________________________________________________________________*/
.IngredientTagsField{
    position: absolute;
    width: 46.875vw;
    height: 11.1vh;
    top: 26.5vh;
    left: 2.0834vw;
    background-color:  #F2E3B3;
    border-radius: 5vh;
}
.IngredientTagsTitle{
    position: absolute;
    width: 11.98vw;
    height: 4.82vh;
    border-radius: 5vh;
    background-color: #3E5902;
    color: #F2E3B3;
}

.c7{
    position: absolute;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1vw; /*48*/
    font-size: 3vh;
    margin-top: 0.8vh;
    margin-left: 1.5vw;
}

.content{
    position: absolute;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1vw; /*48*/
    margin-top: 0.8vh;
    margin-left: 13vw;
    color: black;
}

.DeviceTagsField{
    margin-top: 13.2vh;
}
.devices{
    margin-left: 2.1vw;
}
/*____________________________________________________________________________________________________________________*/
.text-form {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 0.53vw;
    padding-left: 1.0415vw;
    background: #F2E3B3;
    border-radius: 2.778vh;
    left: 2.1vw;
    top: 52vh;
    width: 43vw;
    height: 6.8vh;
}

.text-form textarea{
    position: absolute;
    height: 6vh;
    width: 80%;
    left: 4.0834vw;
    flex: 2;
    border: none;
    background: #F2E3B3;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2.25vw;
    outline: none;
    resize: none;
    autocomplete: off;
    scrollbar-width: none;
}

.quill{
    height: 4.445vh;
    width: 2.5vw;
}

#publish{
    position: absolute;
    width: 6.5vw;
    height: 6.8vh;
    left: 39.2vw;
    background-color: #F28705;
    border-radius: 5vh;
    align-items: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.5625vw;
    border: none;
    cursor: pointer;
}

#publish:hover, #FavoriteList:hover, #UserList:hover, .Report:hover{
    background-color: #FBEFC7;
    border: 0.5vh solid #F28705;
}

.c8{
    display: flex;
    align-items: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.5625vw; /*48*/
    margin-top: 1.1vh;
    margin-left: 1.2vw;
    flex: 1;
    border: none;
    border-radius: 5.5vh;
    outline: none;
}

.commentField{
    position: absolute;
    width: 46.875vw;
    height: 33.2vh;
    margin-left: 2.0834vw;
    top: 59.8vh;
    background: #F2E3B3;
    border-radius: 5vh;
    overflow-y: auto;
}
.comment-user {
    width: 2vw;
    height: 3vh;
}
.comment-user-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2EB;
    border-radius: 50%;
    margin-left: 0.26vw;
    margin-top: 0.46vh;
    width: 2.6vw;
    height: 4.6vh;
}
.comment{
    position: absolute;
    display: flex;
    width: 42.9vw;
    height: 10vh;
    margin-left: 2.0834vw;
    margin-top: 0.9259vh;
    top: 1.85vh;
    background-color:  #FBEFC7;
    border-radius: 5vh;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.5625vw;
}
.comment2{
    top: 11.5vh;
}

::-webkit-scrollbar {
    width: 0.78125vw;
}

::-webkit-scrollbar-track {
    margin-top: 2.7778vh;
    margin-bottom: 2.7778vh;
    border-radius: 4.63vh;
}

::-webkit-scrollbar-thumb {
    background: #733506;
    border-radius: 4.63vh;
}
/*____________________________________________________________________________________________________________________*/
.fullRecipe, .report-container{
    position: absolute;
    width: 46.875vw;
    height: 63vh;
    top: 22.8vh;
    left: 51.0834vw;
    background: #F2E3B3;
    border-radius: 5vh;
}

.fullRecipeHeader, .reportHeader{
    width: 46.875vw;
    height: 4.875vh;
    background: #3E5902;
    border-radius: 5vh 5vh 0 0;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.9vw; /*48*/
    color: white;
    text-align: center;
}

.amountField{
    width: 12.6vw;
    height: 53.7vh;
    border-radius: 5vh;
    background-color: #FBEFC7;
    margin-left: 2vw;
    margin-top: 1.9vh;
}

.stepByStepField{
    width: 27.8645vw;
    height: 53.7vh;
    border-radius: 5vh;
    background-color: #FBEFC7;
    margin-left: 17vw;
    margin-top: -53.7vh;
}

.ingredientsHeader{
    width: 12.6vw;
    height: 3.7vh;
    background: #F2B705;
    border-radius: 5vh 5vh 0 0;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.5vw;
    text-align: center;
}

.devicesHeader{
    position: absolute;
    top: 43.5vh;
    border-radius: 0;
}

.deviceContent{
    position: absolute;
    top:47vh;
    left: 2vw;
    width: 1.5vw ;
}

.stepByStepHeader{
    left: 68.075vw;
    top: 29.39vh;
    width: 27.8645vw;
    text-align: center;
}

.dTitle{
    top: 38.5vh;
    margin-left: 4.5vw;
}

.sbsTitle {
    margin-left: 8vw;
}

.ratingField{
    position: absolute;
    width: 41.7vw;
    height: 5.556vh;
    background: #3E5902;
    border-radius: 5vh;
    top: 87.6vh;
    margin-left: 51.2vw;
}

.addRating{
    position: absolute;
    width: 46.875vw;
    height: 9.5vh;
    background: none;
    bottom: 4.2vh;
    margin-left: 51.25vw;
    background: #F2B705;
}

.confirmation{
    position: absolute;
    width: 2.7vw;
    height: 5.4vh;
    border-radius: 50vh;
    background: #F2B705;
    margin-left: 95vw;
    top: 87.6vh;
    cursor: pointer;
    border: none;
    outline: none;
}

.tick{
    position: absolute;
    width: 1.5625vw;
    height: 2.32vh;
    right: 0.5vw;
    bottom: 1.5vh;
}

.ratingField div{
    font-size: 2.5vw;
    color: #F2B705;
    text-align: center;
    text-transform: uppercase;
}

.ratingField input{
    display: none;
}

.ratingField input + label{
    cursor: pointer;
}

.ratingField input:checked + label{
    color: #F2B705;
}

.ratingField input:checked + label ~ label {
    color: #E0E0E0;
}

.ratingField label:active{
    transform: scale(0.8);
    transition: 0.3s ease;
}

.footer {
    position: fixed;
    width: 100%;
    height: 5.6vh;
    top: 94.4vh;
    bottom: 0;
    background-color: #3E5902;
    color: #F2E3B3;
    padding: 1.4vh;
    display: flex;
    left: 0;
    justify-content: space-between;
    z-index: 5;
}

#overlay, #overlay-user, #overlay-report {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.window {
    position: fixed;
    display: none;
    bottom: 9.2593vh;
    left: 9.6vh;
    width: 59.375vw;
    height: 43.056vh;
    background: #F2E3B3;
    padding: 0.02vw;
    z-index: 11;
    border-radius: 5.5vh;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.inner-window {
    background: #FBEFC7;
    position: absolute;
    width: 55.2083vw;
    height: 31.945vh;
    left: 2.1354167vw;
    top: 3.5185vh;
    padding-left: 0.01vw;
    border-radius: 2.25vh;
    z-index: 13;
}

.inner-window textarea{
    width: 53vw;
    height: 27vh;
    margin-left: 1vw;
    margin-top: 0.2vh;
    flex: 1;
    border: none;
    background: #FBEFC7;
    border-radius: 2.25vh 2.25vh 0 0;
    font-family: 'Frank Ruhl Libre', serif;
    outline: none;
    resize: none;
    autocomplete: off;
    font-size: 2vw;
}

.login-window {
    position: fixed;
    display: none;
    border-radius: 2.7vw;
    width: 26vw;
    height: 30vh;
    left: 72.9vw;
    bottom: 59.7vh;
    background-color: #F2E3B3;
    z-index: 11;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.login-form {
    border-radius: 2.7vw;
    position: absolute;
    width: 21vw;
    height: 4.5vh;
    z-index: 13;
    left: 1.5vw;
}

.email {
    top: 7vh;
}

.password {
    top: 14.8vh;
}

.login-heading {
    position: absolute;
    right: 9.58vw;
    bottom: 21.5vh;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2vw;
}

.email input, .password input {
    width: 21.979vw;
    height: 6.19vh;
    flex: 1;
    border: none;
    background: #FBEFC7;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2vh;
    font-size: 2vw;
    border-radius: 5.5vh;
    outline: none;
    padding-left: 1vw;
}

#confirm-button {
    background-color: #3E5902;
    position: absolute;
    width: 15.6vw;
    height: 5vh;
    right: 5.2vw;
    bottom: 1.7vh;
    z-index: 15;
    border-radius: 2.7vw;
    cursor: pointer;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2vw;
    color: #FBEFC7;
    border: none;
}

#send-button {
    position: absolute;
    right: 4.6875vw;
    width: 9.0105vw;
    height: 4.2593vh;
    background-color: #3E5902;
    border-radius: 2.7vw;
    text-align: center;
    font-family: 'Frank Ruhl Libre';
    font-size: 1.25vh;
    font-size: 1.25vw;
    color: #FBEFC7;
    border: none;
    top: 37.04vh;
    bottom: 1.4815vh;
    z-index: 15;
    cursor: pointer;
}

#send-button:hover, .send-report:hover {
    background-color: #FBEFC7;
    color: #3E5902;
    border: 0.5vh solid #3E5902;
}

.support-button {
    position: relative;
    left: 4.6875vw;
    bottom: 0.6481vh;
    background-color: #F2E3B3;
    color: #733506;
    border-radius: 2.7vw;
    padding: 0.19vw;
    width: 8.4375vw;
    height: 4.2593vh;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 4.2593vh;
    border: none;
    cursor: pointer;
    outline: none;
}

.support-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.support-button:hover {
    background-color: transparent;
    border: 0.46vh solid #F2E3B3;
    color: #F2E3B3;
}

.circle-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2E3B3;
    border-radius: 50%;
    width: 2.4vw;
    height: 5vh;
    bottom: 1vh;
}

.telegram-container {
    right: 5vw;
}

.instagram-container {
    right: 3vw;
}

.telegram {
    width: 2.39583vw;
    height: 4.2592vh;
}

.instagram{
    width: 2.3vw;
    height: 4.06vh;
}

.telegram-container:hover, .instagram-container:hover {
    background-color: #733506;
}

.copyright {
    position: static;
    width: 21vw;
    height: 3vh;
    margin: auto;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1vh;
    text-align: left;
    color: #F2E3B3;
}

.amountContent {
    padding-left: 0.52vw;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.3vw;
    text-align: center;
}

.ingredientContent {
    padding-left: 13vw;
    font-size: 1.5vw;
    color: black;
}

.report-container{
    z-index: 11;
    display: none;
}

.report-inner-window {
    position: absolute;
    width: 90%;
    height: 75%;
    left: 5%;
    top: 10%;
    border-radius: 3.125vw;
    background: #FBEFC7;
    z-index: 11;
}

.report-inner-window textarea {
    width: 90%;
    height: 90%;
    padding-left: 5%;
    border: none;
    background: #FBEFC7;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2vw;
    border-radius: 3.125vw 0 0 0;
    outline: none;
    resize: none;
    autocomplete: off;
}

.send-report{
    position: absolute;
    width: 30vw;
    height: 6vh;
    right: 7.5vw;
    bottom: 1.8vh;
    border-radius: 4.6875vw;
    background: #3E5902;
    z-index: 11;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2vw;
    border: none;
    color: white;
    cursor: pointer;
}

