.title {
    position: absolute;
    font-family: 'Frank Ruhl Libre', serif;;
    font-size: 3vw;
    font-weight: 400;
    line-height: 1vh;
    left: 40vw;
    top: 14.5vh;
    color: black;
    text-align: center;
}

.recipeTitle {
    position: absolute;
    width: 94vw;
    height: 5.5556vh;
    background-color: #F2E3B3;
    left: 3vw;
    right: 3vw;
    top: 20vh;
    border-radius: 1vw;
}

.recipeCookingTime {
    position: absolute;
    width: 44.76vw;
    height: 5.5556vh;
    background-color: #F2E3B3;
    left: 3vw;
    top: 27.4vh;
    border-radius: 1vw;
}

.recipeCategory {
    position: absolute;
    width: 44.76vw;
    height: 5.5556vh;
    background-color: #F2E3B3;
    right: 3vw;
    top: 27.4vh;
    border-radius: 1vw;
}

.recipeIngredients {
    position: absolute;
    width: 44.76vw;
    height: 16.5vh;
    background-color: #F2E3;
    left: 0;
    top: 0;
    border-radius: 1vh;
}

.recipeIngredientsAmount {
    position: absolute;
    width: 44.76vw;
    height: 16.5vh;
    background-color: #F2E3;
    top: 0;
    margin-left: -1vw;
    border-radius: 5vh;
}

.recipeDevices {
    position: absolute;
    width: 94vw;
    height: 5.5556vh;
    background-color: #F2E3B3;
    left: 3vw;
    right: 3vw;
    top: 53.2vh;
    border-radius: 1vw;
}

.recipeStepByStep {
    position: absolute;
    width: 94vw;
    height: 17vh;
    background-color: #F2E3B3;
    left: 3vw;
    right: 3vw;
    top: 60.6vh;
    border-radius: 5vh;
}

.saveButton, .publishButton {
    position: absolute;
    width: 15.625vw;
    height: 7.41vh;
    top: 82vh;
    left: 20.4vw;
    background-color: #F28705;
    border-radius: 5vh;
    cursor: pointer;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2vw;
    color: black;
}

.publishButton {
    left: 60.8vw;
}

.publishButton:hover, .saveButton:hover {
    background-color: #FBEFC7;
    border: 1vh solid #F28705;
    box-sizing: border-box;
}

.text-form-title {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 0.53vw;
    padding-left: 1.0415vw;
    border-radius: 2.778vh;
    top: 0;
}

.text-form-title input, .inner-window input {
    position: absolute;
    width: 90vw;
    height: 4vh;
    left: 1vw;
    margin-top: 0.3vh;
    flex: 2;
    border: none;
    background: #F2E3B3;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.9vw;
    border-radius: 1.5vh;
    outline: none;
}

.text-form-time {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 0.53vw;
    padding-left: 1.0415vw;
    border-radius: 2.778vh;
    top: 0;
}

.text-form-time input, .inner-window input {
    position: absolute;
    width: 42vw;
    height: 4vh;
    left: 1vw;
    flex: 2;
    border: none;
    background: #F2E3B3;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.9vw;
    outline: none;
}

.text-form-category {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 0.53vw;
    padding-left: 1.0415vw;
    top: 0;
    right: 0;
}

.text-form-category input, .inner-window input {
    position: absolute;
    width: 42vw;
    height: 4.2vh;
    left: 1vw;
    flex: 2;
    border: none;
    background: #F2E3B3;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.9vw;
    outline: none;
}

.ingredientsField {
    position: absolute;
    width: 94vw;
    height: 17vh;
    background-color: #F2E3B3;
    left: 3vw;
    top: 34.8vh;
    border-radius: 5vh;
    padding: 1vh;
    box-sizing: border-box;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 1vh;
    text-align: left;
    border-bottom: 0.3vh solid #FBEFC7;
}

input[type="text"] {
    width: 90%;
    height: 4.2vh;
    border: none;
    background: #F2E3B3;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.9vw;
    border-radius: 1.5vh;
    outline: none;
    padding-left: 1vw;
    box-sizing: border-box;
}

button {
    margin-left: 1.7vw;
    border: none;
    border-radius: 1.5vh;
    background-color: #3E5902;
    color: #FFFFFF;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.5vw;
    cursor: pointer;
}

button.deleteRow {
    background-color: #B90F0F;
}

button#addRow {
    margin-top: 2vh;
}

.text-form-devices {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 0.53vw;
    padding-left: 1.0415vw;
    border-radius: 2.778vh;
    top: 0;
}

.text-form-devices input, .inner-window input {
    position: absolute;
    width: 90vw;
    height: 4.2vh;
    left: 4vw;
    top: 53.25vh;
    flex: 2;
    border: none;
    background: #F2E3B3;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.9vw;
    outline: none;
}

.text-form-StepByStep {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 0.53vw;
    padding-left: 1.0415vw;
    border-radius: 2.778vh;
    top: 0;
}

.text-form-StepByStep textarea {
    position: absolute;
    width: 98%;
    height: 85%;
    left: 1vw;
    top: 1vh;
    border: none;
    background: #F2E3B3;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.9vw;
    outline: none;
    resize: none;
    autocomplete: off;
}

::-webkit-scrollbar {
    width: 0.78125vw;
}

::-webkit-scrollbar-track {
    margin-top: 2.7778vh;
    margin-bottom: 2.7778vh;
    border-radius: 4.63vh;
}

::-webkit-scrollbar-thumb {
    background: #733506;
    border-radius: 4.63vh;
}

.recipeCategory {
    position: relative;
    width: 45vw;
    height: 6.19vh;
    background: #F2E3B3;
    border-radius: 5.5vh;
}

.recipeCategory select {
    width: 100%;
    height: 100%;
    border: none;
    background: #F2E3B3;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2vw;
    border-radius: 5.5vh;
    outline: none;
    padding-left: 1vw;
    padding-right: 2vw;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}
