.cooker {
    position: absolute;
    width: 7.9vw;
    height: 14.629vh;
    top: 5vw;
    left: 5.83vh;
}

.cooker-circle {
    position: absolute;
    width: 11vw;
    height: 23.148vh;
    background-color: #F2E3B3;
    top: 3.125vw;
    left: 2.5vh;
    border-radius: 50%;
}

.user-name {
    position: absolute;
    left: 52vh;
    top: 29.6vh;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 5vh;
    text-align: center;
}

.green-line {
    position: absolute;
    background-color: #3E5902;
    width: 23.8vw;
    height: 0.5vh;
    border-radius: 5%;
    left: 17vw;
    top: 35.18vh;
}

.button-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.85vh;
    top: 40vh;
    left: 10.9375vw;
}

.createList,
.createRecipe,
.allLists,
.logInModerator,
.logOut,
.confirm-list-button {
    width: 20.3125vw;
    height: 7.4074vh;
    border-radius: 2.5vh;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.7vw;
    border: none;
    margin-bottom: 1.85vh;
    cursor: pointer;
}

.createList {
    top: 34vh;
    background-color: #F28705;
}

.createRecipe {
    top: 34.1vh;
    background-color: #F28705;
}

.confirm-list-button {
    position: absolute;
    top: 11vh;
    left: 0.6vh;
    background-color: #F28705;
}

.allLists {
    top: 34.2vh;
    background-color: #F28705;
}

.logOut {
    background-color: #F2B705;
    top: 34.3vh;
}

.logInModerator {
    background: rgba(242, 183, 5, 0.3);
    top: 34.4vh;
}

.confirm-list-button:hover {
    background-color: #FBEFC7;
    border: 0.5vh solid #F28705;
}

/*____________________________________________________________________________________________________________________*/
.recipesField {
    position: absolute;
    top: 15vh;
    width: 55.21vw;
    height: 75.926vh;
    background-color: #F2E3B3;
    border-radius: 5vh;
    margin-left: 42vw;
}

.recipesFieldHeader {
    width: 55.21vw;
    height: 5vh;
    background-color: #3E5902;
    border-radius: 5vh 5vh 0 0;
}

.c7 {
    position: absolute;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2vw;
    font-weight: 400;
    line-height: 1vh;
    text-align: left;
    color: white;
    margin-top: 2vh;
    margin-left: 23.5vw;
}

.list-container {
    position: fixed;
    display: none;
    top: 40.1vh;
    left: 11.5vw;
    z-index: 11;
}

.list-name {
    width: 20.83vw;
    height: 9.259vh;
    border-radius: 2.7vh;
    background-color: #F2E3B3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-name input {
    width: 18.48958vw;
    height: 7vh;
    border-radius: 2.7vh;
    background-color: #FBEFC7;
    outline: none;
    border: none;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2.1875vw;
}

#overlay-list {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}