body {
    background-color: #F2F2EB;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    height: 11.2vh;
    background: #F2E3B3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2.083vw;
    padding-left: 4.166vw;
}

.logo {
    width: 6.25vw;
    height: 10vh;
    top: 0.3vw;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 0.52vw;
    padding-left: 1.0415vw;
    background: #FBEFC7;
    border-radius: 2.7vw;
}

.search-form input, .inner-window input{
    height: 6.19vh;
    width: 41.67vw;
    margin-left: 1vw;
    margin-top: 0.2vh;
    flex: 1;
    border: none;
    background: #FBEFC7;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2.5vh;
    font-size: 2.5vw;
    border-radius: 5.5vh;
    outline: none;
}

.magnifier{
    height: 3.3333333333vh;
    width: 1.875vw;
}

.button-style {
    display: flex;
    background-color: #3E5902;
    height: 5.7407vh;
    width: 6.4640625vw;
    border-radius: 2.7vw;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.25vh;
    font-size: 1.25vw;
    text-decoration: none;
}

.user {
    width: 3.6458vw;
    height: 5.5555vh;
}

.heart-container, .user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    border: none;
    background-color: #F2E3B3;
}

.heart-container:hover {
}

.user-container:hover {
    background-color: #733506;
    width: 4.6vw;
    height: 9.2593vh;
}

.home{
    height: 5.55555555vh;
    width: 3.125vw;
}

.cooker {
    position: absolute;
    width: 7.9vw;
    height: 14.629vh;
    top: 5vw;
    left: 5.83vh;
}

.cooker-circle {
    position: absolute;
    width: 11vw;
    height: 23.148vh;
    background-color: #F2E3B3;
    top: 3.125vw;
    left: 2.5vh;
    border-radius: 50%;
}

.user-name {
    position: absolute;
    left: 52vh;
    top: 29.6vh;
    font-family: Frank Ruhl Libre;
    font-size: 5vh;
    text-align: center;
}

.green-line {
    position: absolute;
    background-color: #3E5902;
    width: 23.8vw;
    height: 0.5vh;
    border-radius: 5%;
    left: 17vw;
    top: 35.18vh;
}

.button-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.85vh;
    top: 40vh;
    left: 10.9375vw;
}

.createList,
.createRecipe,
.allLists,
.logInModerator,
.logOut {
    width: 20.3125vw;
    height: 7.4074vh;
    border-radius: 2.5vh;
    font-family: 'Frank Ruhl Libre';
    font-size: 1.7vw;
    border: none;
    margin-bottom: 1.85vh;
}

.createList {
    top: 34vh;
    background-color: #F28705;
}

.createRecipe {
    top: 34.1vh;
    background-color: #F28705;
}

.allLists {
    top: 34.2vh;
    background-color: #F28705;
}

.logOut{
    background-color: #F2B705;
    top: 34.3vh;
}

.logInModerator{
    background: rgba(242, 183, 5, 0.3);
    top: 34.4vh;
}
/*____________________________________________________________________________________________________________________*/
.recipesField{
    width: 55.21vw;
    height: 75.926vh;
    background-color: #F2E3B3;
    border-radius: 5vh;
    margin-left: 42vw;
}

.recipesFieldHeader{
    width: 55.21vw;
    height: 5vh;
    background-color: #3E5902;
    border-radius: 5vh 5vh 0vh 0vh ;
}

.c7{
    position: absolute;
    font-family: 'Frank Ruhl Libre';
    font-size: 2vh;
    font-size: 2vw;
    font-weight: 400;
    line-height: 1vh;
    text-align: left;
    color: white;
    margin-top: 2vh;
    margin-left: 23.5vw;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.list-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-name {
    width: 400px;
    height: 100px;
    border-radius: 30px;
    background-color: #F2E3B3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-name input {
    width: 355px;
    height: 85px;
    border-radius: 30px;
    background-color: #FBEFC7;
    outline: none;
    border: none;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2.1875vw;
    font-size: 3.8889vh;
}

.confirm-list-button {
    background-color: #F28705;
    border-radius: 30px;
    border: none;
    font-size: 1.5em;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.confirm-list-button:hover {
    background-color: #d07203;
}

.footer {
    position: fixed;
    width: 100%;
    height: 5.6vh;
    top: 94.4vh;
    bottom: 0;
    background-color: #3E5902;
    color: #F2E3B3;
    padding: 1.4vh;
    display: flex;
    left: 0;
    justify-content: space-between;
    z-index: 5;
}

#send-button {
    position: absolute;
    right: 4.6875vw;
    width: 9.0105vw;
    height: 4.2593vh;
    background-color: #3E5902;
    border-radius: 2.7vw;
    text-align: center;
    font-family: 'Frank Ruhl Libre';
    font-size: 1.25vh;
    font-size: 1.25vw;
    color: #FBEFC7;
    border: none;
    top: 37.04vh;
    bottom: 1.4815vh;
    z-index: 15;
    cursor: pointer;
}

#send-button:hover {
    background-color: #FBEFC7;
    color: #3E5902;
    border: 0.5vh solid #3E5902;
}

#overlay-support {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.window {
    position: fixed;
    display: none;
    bottom: 9.2593vh;
    left: 9.6vh;
    width: 59.375vw;
    height: 43.056vh;
    background: #F2E3B3;
    padding: 0.02vw;
    z-index: 11;
    border-radius: 5.5vh;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.inner-window {
    background: #FBEFC7;
    position: absolute;
    width: 55.2083vw;
    height: 31.945vh;
    left: 2.1354167vw;
    top: 3.5185vh;
    padding-left: 0.01vw;
    border-radius: 2.25vh;
    z-index: 13;
}

.support-button {
    position: relative;
    left: 4.6875vw;
    bottom: 0.6481vh;
    background-color: #F2E3B3;
    color: #733506;
    border-radius: 2.7vw;
    padding: 0.19vw;
    width: 8.4375vw;
    height: 4.2593vh;
    text-align: center;
    font-family: 'Frank Ruhl Libre';
    font-size: 1.25vh;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 4.2593vh;
    border: none;
    cursor: pointer;
    outline: none;
}

.support-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.support-button:hover {
    background-color: transparent;
    border: 0.4vh solid #F2E3B3;
    color: #F2E3B3;
}

#feedback-input {
    width: 100%;
    height: 100px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}

.circle-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2E3B3;
    border-radius: 50%;
    width: 2.4vw;
    height: 5vh;
    bottom: 1vh;
}

.telegram-container {
    right: 5vw;
}

.instagram-container {
    right: 3vw;
}

.telegram {
    width: 2.39583vw;
    height: 4.2592vh;
}

.instagram{
    width: 2.3vw;
    height: 4.06vh;
}

.telegram-container:hover, .instagram-container:hover {
    background-color: #733506;
}

.copyright {
    position: static;
    width: 21vw;
    height: 3vh;
    margin: auto;
    font-family: 'Frank Ruhl Libre';
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1vh;
    text-align: left;
    color: #F2E3B3;
}