<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>User page</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../../static/css/moderatorPage.css" rel="stylesheet" th:href="@{css/moderatorPage.css}" type="text/css">
</head>
<body>
<header>
    <div class="header">
        <img alt="logo1" class="logo1" src="../../static/images/logo1.svg" th:src="@{images/logo1.svg}">


        <form class="search-form">
            <img alt="magnifier" class="magnifier" src="../../static/images/magnifier.svg"
                 th:src="@{images/magnifier.svg}">
            <input name="query" placeholder="Search" type="search">
        </form>
        <a class="button-style" href="allRecipes.html" th:href="@{/allRecipes}">All recipes</a>
        <a class="button-style" href="recipe.html" th:href="@{/recipe/1}">Random</a>

        <div class="heart-container">
            <div class="heart"
                 onmouseout="restoreImage('heart-img', '../../images/heart.svg')"
                 onmouseover="changeImage('heart-img', '../../images/heart-hover.svg')">
                <img alt="heart" class="heart" id="heart-img" src="../../images/heart.svg" th:src="@{images/heart.svg}">
            </div>
        </div>

        <div class="user-container">
            <div class="user"
                 onmouseout="restoreImage('user-img', '../../images/user.svg')"
                 onmouseover="changeImage('user-img', '../../images/user-hover.svg')">

                <img alt="user" class="user" id="user-img" src="../../images/user.svg" th:src="@{images/user.svg}">
            </div>
        </div>

        <a href="main.html" th:href="@{/main.page}">
            <img alt="home" class="home" src="../../images/home.svg" th:src="@{images/home.svg}">
        </a>
    </div>

</header>
<main>
    <div class="avatarField">
        <img alt="moder" class="moder" src="../../static/images/Moderator.svg" th:src="@{images/Chef.svg}">
    </div>
    <div class="line">
        <div class="nikText">Moderator name</div>
    </div>
    <div class="AIReport">
        <p class="reportAI">Recipe publishing (AI)</p>
    </div>

    <div class="UserReport">
        <p class="reportUser">User report</p>
    </div>
    <a class="returnB" href="../user/user.html" th:href="@{/user}">Return to the user account</a>
    <div class="stick"></div>

</main>

<footer class="footer">
    <button class="support-button" id="support-btn"><span>Support</span></button>

    <div id="overlay" onclick="hideOverlay()"></div>

    <div class="window" id="popup-window">  <!-- Вікно, яке з'являється при натисканні -->
        <div class="inner-window">
            <input name="query" placeholder="Enter feedback" type="search">
        </div>

        <button id="send-button">Send</button>
    </div>

    <div class="copyright">© Company policy and privacy rules</div>

    <div class="circle-container telegram-container">
        <div
                class="telegram"
                onmouseout="restoreImage('telegram-img', '../../images/telegram.svg')"
                onmouseover="changeImage('telegram-img', '../../images/telegram-hover.svg')"
        >
            <img alt="telegram" class="telegram" id="telegram-img" src="../../images/telegram.svg"
                 th:src="@{images/telegram.svg}">
        </div>
    </div>

    <div class="circle-container instagram-container">
        <div
                class="instagram"
                onmouseout="restoreImage('instagram-img', '../../images/inst.svg')"
                onmouseover="changeImage('instagram-img', '../../images/inst-hover.svg')"
        >
            <img alt="instagram" class="instagram" id="instagram-img" src="../../images/inst.svg"
                 th:src="@{images/inst.svg}">
        </div>
    </div>
</footer>
<script src="../../js/scripts.js" th:href="@{js/scripts.js}"></script>
</body>
</html>
