<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>AI Reports</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../../static/css/moderatorAIReports.css" rel="stylesheet" th:href="@{../css/moderatorAIReports.css}"
          type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<header>
    <div class="header">
        <img alt="logo1" class="logo1" src="../../static/images/logo1.svg" th:src="@{images/logo1.svg}">


        <form class="search-form">
            <img alt="magnifier" class="magnifier" src="../../static/images/magnifier.svg"
                 th:src="@{images/magnifier.svg}">
            <input name="query" placeholder="Search" type="search">
        </form>
        <a class="button-style" href="allRecipes.html" th:href="@{/allRecipes}">All recipes</a>
        <a class="button-style" href="recipe.html" th:href="@{/recipe/1}">Random</a>

        <div class="heart-container">
            <div class="heart"
                 onmouseout="restoreImage('heart-img', '../../images/heart.svg')"
                 onmouseover="changeImage('heart-img', '../../images/heart-hover.svg')">
                <img alt="heart" class="heart" id="heart-img" src="../../images/heart.svg" th:src="@{images/heart.svg}">
            </div>
        </div>

        <div class="user-container">
            <div class="user"
                 onmouseout="restoreImage('user-img', '../../images/user.svg')"
                 onmouseover="changeImage('user-img', '../../images/user-hover.svg')">

                <img alt="user" class="user" id="user-img" src="../../images/user.svg" th:src="@{images/user.svg}">
            </div>
        </div>
        <a href="main.html" th:href="@{/}">
            <img alt="home" class="home" src="../../images/home.svg" th:src="@{images/home.svg}">
        </a>
    </div>
</header>
<body>
<div class="titleForAiPage">Recipe publishing (AI reports)</div>
<div class="AIReportField">
    <div class="reportField">
        <div class="linkField">
            <div class="notInBD">Request for recipe review:</div>
        </div>
    </div>
    <div class="reportField report2"></div>
</div>
<table th:each="report: ${reports}">
    <tr>
        <td th:text="${report.getDescription()}"></td>
    </tr>
</table>
</body>
<footer class="footer">
    <button class="support-button" id="support-btn"><span>Support</span></button>

    <div id="overlay" onclick="hideOverlay()"></div>

    <div class="window" id="popup-window">  <!-- Вікно, яке з'являється при натисканні -->
        <div class="inner-window">
            <input name="query" placeholder="Enter feedback" type="search">
        </div>

        <button id="send-button">Send</button>
    </div>

    <div class="copyright">© Company policy and privacy rules</div>

    <div class="circle-container telegram-container">
        <div
                class="telegram"
                onmouseout="restoreImage('telegram-img', '../../static/images/telegram.svg')"
                onmouseover="changeImage('telegram-img', '../../static/images/telegram-hover.svg')"
        >
            <img alt="telegram" class="telegram" id="telegram-img" src="../../static/images/telegram.svg"
                 th:src="@{images/telegram.svg}">
        </div>
    </div>

    <div class="circle-container instagram-container">
        <div
                class="instagram"
                onmouseout="restoreImage('instagram-img', '../../static/images/inst.svg')"
                onmouseover="changeImage('instagram-img', '../../static/images/inst-hover.svg')"
        >
            <img alt="instagram" class="instagram" id="instagram-img" src="../../static/images/inst.svg"
                 th:src="@{images/inst.svg}">
        </div>
    </div>
</footer>
<script src="../../static/js/scripts.js" th:href="@{js/scripts.js}"></script>
</html>