<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div class = "header">
    <img width="220px" height="210px" src="logo.svg" alt="logo">
    <form class="search-form">
        <img width="36px" height="36px"  src="magnifier.svg" alt="magnifier">
        <input type="search" placeholder="Search" name="query">
    </form>
    <a href="allRecipes.html" class="button-style">All recipes</a>
    <a href="randomRecipe.html" class="button-style">Random</a>
    <img width="70px" height="60px"  src="heart.svg" alt="heart">
    <img width="60px" height="60px"  src="user.svg" alt="user">
    <img width="60px" height="60px"  src="home.svg" alt="home">
</div>
</body>
</html>